<%provide(:title, 'Manager - CHRMS') %>
<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h1 class="text-center chrms-font">Manager</h1>
		<div class="login-design">
			<%= form_for(:session,  url: managers_session_login_path) do |f| %>
				<%= f.collection_select :hospital_id, Hospital.all, :id, :hospital_name , prompt: "Select Hospital"  %>
				<%= f.label "Manager's name" %>
	    		<%= f.text_field :name, placeholder: "Manager's username" %>

	    		<%= f.label :password %>
			    <%= f.password_field :password, placeholder: "Password" %>

			    <%= f.submit "Login", class: "button chrms radius large-4"%>
			<%end%>
		</div>
	</div>
</div>
