
<h5>Surname : <%= @doctor.surname %></h5>
<h5>Full Names : <%= "#{@doctor.surname} #{@doctor.given_names}" %></h5>
<h5>Gender : <%= @doctor.gender %></h5>
<h5>Educational Level: <%= @doctor.education %></h5>
<h5>Speciality: <%=@doctor.speciality.capitalize %></h5>
<h5>Organization: <%=@doctor.hospital.hospital_name %></h5>

