<div class="content">
	<h5><%= t('.surname')%>: <strong><%= @doctor.surname %></strong></h5>
	<h5><%= t('.full_names')%> <strong><%= "#{@doctor.surname} #{@doctor.given_names}" %></strong></h5>
	<h5><%=t('.gender')%> <strong><%= @doctor.gender %></strong></h5>
	<h5><%= t('.e_level') %> <strong><%= @doctor.education %></strong></h5>
	<h5><%=t('.speciality') %><strong><%=@doctor.speciality.capitalize %></strong></h5>
	<h5><%=t('.organization') %> <strong><%=@doctor.hospital.hospital_name %></strong></h5>
</div>

