
<h4>Surname : <%= @doctor.surname %></h4>
<h4>Full Names : <%= "#{@doctor.surname} #{@doctor.given_names}" %></h4>
<h4>Gender : <%= @doctor.gender %></h4>
<h4>Educational Level: <%= @doctor.education %></h4>
<h4>Speciality: <%=@doctor.speciality.capitalize %></h4>
<h4>Organization: <%=@doctor.hospital.hospital_name %></h4>

