<div class="content">
	<h5>Surname: <strong><%= @doctor.surname %></strong></h5>
	<h5>Full Names: <strong><%= "#{@doctor.surname} #{@doctor.given_names}" %></strong></h5>
	<h5>Gender: <strong><%= @doctor.gender %></strong></h5>
	<h5>Educational Level: <strong><%= @doctor.education %></strong></h5>
	<h5>Speciality: <strong><%=@doctor.speciality.capitalize %></strong></h5>
	<h5>Organization: <strong><%=@doctor.hospital.hospital_name %></strong></h5>
</div>

