<%= form_for(@referral, url: doctor_dashboard_request_referral_hospitals_doctors_path(@referred_doctor.id)) do |f| %>
<h2 class="text-center chrms-font" style="margin-top: 1rem"><%=t('.referral_form_heading')%> </h2>
		<%= render "layouts/shared/error_messages", object: @referral %>
			<div class="row">
			<table>
				<tr>
					<td>
						<%= f.label :blood_group %>
						<div class="large-6">
							<%=f.select :blood_group, ["A", "B", "AB", "O"], prompt: t('.blood_prompt') %>

						</div>
						
						
						<!--<label>Initiating facility address</label>
						<%=f.text_field :initiating_facility_address%>
						<%=f.hidden_field :referred_facility_doctors_name, value: "#{@referred_doctor.surname} #{@referred_doctor.given_names}"%>-->
					</td>
				</tr>
			</table>
			
			<table style="margin-bottom: 0">
			<h5 class="chrms-font"><strong><%=t('.p_information') %></strong></h5>
				<tr>
					<td>
						<%= f.label :patient_full_names %>
						<div class="large-12">
							<%=f.text_field :patient_full_names%>
						</div>
					</td>
					<td>
						<%= f.label :ethnic %>
						<div class="large-12">
							<%=f.select :ethnic, [t('.christian'), t('.catholic'), t('.islamic') ,t('.j_withness') ,t('.bi_faith') , t('.others') ], prompt: t('.ethnic_prompt') %>
						</div>
					</td>

				</tr>

			</table>
			<table style="margin: 0">
				<tr>				
					<td>
						<%= f.label :patient_identity_number %>
						<%=f.text_field :patient_identity_number %>
					</td>
					<td>
						<%= f.label :patient_age %>
						<%=f.text_field :patient_age%>
					</td>
					<td>
						<%= f.label :patient_gender %>
						<%=f.select :patient_gender, [t('.male'), t('.female') ], prompt: t('.gender_prompt')%>
					</td>
				</tr>
			</table>
			<table style="margin: 0">
				<tr>
					<td>
						<%= f.label :patient_address %>
						<%=f.text_field :patient_address %>
					</td>
					<td>
						<%= f.label :patient_mobile_number %>
						<%=f.text_field :patient_mobile_number %>
					</td>
				</tr>
			</table>
			<table style="margin: 0">
				<tr>
					<td>
						<%= f.label :patient_clinical_history %>
						<%=f.text_area :patient_clinical_history, size: '5x5' %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :findings %>
						<%=f.trix_editor :findings, size: '10x5' %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.label :diagnosis %>
						<%=f.trix_editor :diagnosis, size: '5x5' %>
					</td>
					
				</tr>
				<tr>
					<td>
						<%= f.label :treatment_given %>
						<%=f.trix_editor :treatment_given, size: '5x5' %>
					</td>
					
				</tr>
				<tr>
					<td>
						<%= f.label :reasons_for_referral %>
						<%=f.trix_editor :reasons_for_referral, size: '5x5' %>
					</td>
					
				</tr>
			</table>
		
			<h5 class="chrms-font" style="margin-top: 1rem"><%=t('.message_caption') %></h5>
			<%= f.text_area :optional_message, size: "2x2",
			 placeholder: t('.message_placeholder')
			  %>
			<!--<p>
				Note to receiving facility: On completion of patient management please fill in and print the referral back slip and send with patient or simple just reply.
			</p>-->
			
			
			
			<div class="row">
				<div class="large-8 columns">
					<%= f.submit yield(:button_text), class: "button chrms large-12 small-12 radius"%>
				</div>

				<div class="large-4 columns">
					<%= link_to t('.button_cancel'), doctor_dashboard_request_referral_hospitals_path, class: "button alert large-12 small-12 radius"%>
				</div>
			</div>
			</div>

<%end%>



