<%= form_for(@patient_referral_back_slip, url: doctor_dashboard_read_referral_patient_referral_back_slip_path(current_doctor)) do |f| %>
	<%= render "layouts/shared/error_messages", object: @patient_referral_back_slip %>
	
<table style="margin-bottom: 0">
		<h5 class="chrms-font"><strong><%= t('.report_header') %></strong></h5>
			<tr>
				<td>
					<label class="chrms-font"><%=t('.special_investigation') %></label>
					<%=f.trix_editor :special_investigation, size: "5x5"%>
				</td>
			</tr>
			<tr>
				<td>
					<label class="chrms-font"><%=t('.special_findings') %></label>
					<%=f.trix_editor :special_findings, size: "5x5" %>
				</td>
			</tr>
</table>
<table style="margin: 0">
			<tr>
				<td>
					<label class="chrms-font"><%=t('.diagnosis') %></label>
					<%=f.trix_editor :diagnosis, size: "5x5" %>
				</td>

			</tr>
</table>
<table style="margin: 0">
			<tr>
				<td>
					<label class="chrms-font"><%=t('.operation') %></label>
					<%=f.select :operation, ["Yes", "No"], prompt: "Select choice"%>
				</td>

			</tr>
			<tr>
				<td>
					<label class="chrms-font"><%=t('.treatments') %></label>
					<%=f.trix_editor :treatments, size: "5x5" %>
				</td>
			</tr>
</table>
<table style="margin: 0">
			<tr>
				<td>
					<label class="chrms-font"><%=t('.medications_prescribed') %></label>
					<%=f.trix_editor :medications_prescribed, size: "5x5" %>
				</td>
				
			</tr>
</table>
<table style="margin: 0">
			<tr>
				<td>
					<label class="chrms-font"><%=t('.advise') %></label>
					<%=f.trix_editor :please_continue_with %>
				</td>
			</tr>
</table>

<table>
			<tr>
				<td>
					<label class="chrms-font"><%=t('.message') %></label>
					<%=f.text_area :referral_back_slip_message, size: "5x5", placeholder: t('.message_holder') %>
				</td>
			</tr>
</table>
	<div class="row">
		<div class="large-10 columns">
			<%= f.submit yield(:button_text), class: "button chrms large-12 small-12 radius"%>
		</div>
		<div class="large-2 columns">	
			<%= link_to t('.back') , doctor_dashboard_read_referrals_patient_referral_details_path(@patient.id), class: "button alert large-12  small-12 large-offset-2 radius"%>
		</div>
	</div>
<%end%>







	