<%= form_for(@referral, url: doctor_dashboard_request_referral_hospitals_doctors_path(@referred_doctor.id)) do |f| %>
<h2 class="text-center chrms-font">Referral Form</h2>
		<%= render "layouts/shared/error_messages", object: @referral %>
			<div class="row">
			<table>
				<tr>
					<td>
						<label>Type of referral</label>
						<div class="large-6">
							<%=f.select :type_of_referral, ["Option A", "Option B", "Option C"], prompt: "select type" %>

						</div>
						
						
						<!--<label>Initiating facility address</label>
						<%=f.text_field :initiating_facility_address%>
						<%=f.hidden_field :referred_facility_doctors_name, value: "#{@referred_doctor.surname} #{@referred_doctor.given_names}"%>-->
					</td>
				</tr>
			</table>
			
			<table style="margin-bottom: 0">
			<h5 class="chrms-font"><strong>Patient Information</strong></h5>
				<tr>
					<td>
						<label>Patient full names</label>
						<div class="large-6">
							<%=f.text_field :patient_full_names%>
						</div>
						
					</td>
				</tr>
			</table>
			<table style="margin: 0">
				<tr>				
					<td>
						<label>Identity Number</label>
						<%=f.text_field :patient_identity_number %>
					</td>
					<td>
						<label>Age</label>
						<%=f.text_field :patient_age%>
					</td>
					<td>
						<label>Sex</label>
						<%=f.select :patient_gender, ["Male", "Female"], prompt: "select sex"%>
					</td>
				</tr>
			</table>
			<table style="margin: 0">
				<tr>
					<td>
						<label>Patient Address</label>
						<%=f.text_field :patient_address %>
					</td>
					<td>
						<label>Patient mobile number</label>
						<%=f.text_field :patient_mobile_number %>
					</td>
				</tr>
			</table>
			<table style="margin: 0">
				<tr>
					<td>
						<label>Patient clinical history</label>
						<%=f.text_area :patient_clinical_history, size: '5x5' %>
					</td>
				</tr>
				<tr>
					<td>
						<label>Findings</label>
						<%=f.trix_editor :findings, size: '10x5' %>
					</td>
				</tr>
				<tr>
					<td>
						<label>Treatment given</label>
						<%=f.trix_editor :treatment_given, size: '5x5' %>
					</td>
					
				</tr>
				<tr>
					<td>
						<label>Reason for referral</label>
						<%=f.trix_editor :reasons_for_referral, size: '5x5' %>
					</td>
					
				</tr>
			</table>
		
			<h5 class="chrms-font" style="margin-top: 1rem">Message to referred facility</h5>
			<%= f.text_area :optional_message, size: "2x2",
			 placeholder: "Note to receiving facility: On completion of patient management please fill referral back slip  attached and  submit reply."
			  %>
			<!--<p>
				Note to receiving facility: On completion of patient management please fill in and print the referral back slip and send with patient or simple just reply.
			</p>-->
			
			
			
			<div class="row">
				<div class="large-8 columns">
					<%= f.submit yield(:button_text), class: "button chrms large-12 small-12 radius"%>
				</div>

				<div class="large-4 columns">
					<%= link_to 'Cancel', doctor_dashboard_request_referral_hospitals_path, class: "button alert large-12 small-12 radius"%>
				</div>
			</div>
			</div>

<%end%>



