 <table class="large-12 columns">
            <tr>
              <th>Referral Request from</th>
                     <th>Patient Names</th>
              <th>Patient ID No</th>
                     <th>Referral Type</th>
              <th>Referral Status</th>
                     <th>Date received</th>
                     </tr>
              <p style="font-family: courier; margin-bottom: 0; color: #294f42">Result found for token: <strong><%= params[:search] %></strong></p>
                                   
   					<% @results.each do |referral| %>

            <tr>
                <td>
                         Dr. <%= "#{referral.referring_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
                <td>
                           
                       <%= link_to "#{referral.patient_full_names}", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id)%><br>
                               <span>click to view</span>
                         
                </td>
                        <td>
                           <%= referral.patient_identity_number%>
                        </td>
                <td>
                           <%=referral.type_of_referral %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><%= link_to "Pending", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "pending" %></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><%= link_to "Checked", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "received" %> </label>
                            <%else%>
                              <%if referral.patient_identity_number.present? %>
                                 <label><%= link_to "Replied", doctor_dashboard_submitted_back_slips_patient_path(referral.patient_identity_number), class: "completed " %><i class="fi-check"></i></label>
                              <%else %>
                                  <label><%= link_to "Completed", doctor_dashboard_submitted_back_slips_patient_path(referral.patient_full_names), class: "completed " %><i class="fi-check"></i></label>
                              <%end%>
                            <%end%>
                           
                        </td>
                <td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
              </tr>
   						
   						
   					<% end %>
</table>