      <h3 class="chrms-font" style="color: #878787">Dr. <%= current_doctor.surname%>, <%=t('.welcome') %></h3>
                           <p>
                              <%=t('.p_1') %><br> <%=t('.p_2') %>
                              <%if @mades == 0 %>
                              . <%=t('.half_sentence') %><br>
                               <%elsif @mades >= 2 %>
                               <%=t('.completed_sentence') %> <%=pluralize(@mades, t('.patients') )%>. <br>
                               <% else %>
                                  <%=t('.completed_sentence') %> <%=pluralize(@mades, t('.patient') )%>
                              . <br>
                              <%end%>
                              
                              <%=t('.note')%> <strong><%=t('.chrms') %></strong><%=t('.complete_note') %>
                           </p>
                           <ol>
                              <li><%=t('.account_settings')%> </li>
                              <li><%=t('.dashboard')%> </li>
                              <li><%=t('.referred_doctors')%></li>
                              <li><%=t('.referrals_made')%> </li>
                              <!--<li>Unapproved Request</li>-->
                           </ol>

                           
                           <div class="callout primary2" data-closable>
                              <h5 class="chrms-font"><%=t('.account_settings') %></h5>
                               <%if current_doctor.photo_file_name.nil?%>
                              <p><%=t('.change_1') %> <strong><%= t('.change_2')%></strong> <%=t('.change_3') %> <%=link_to t('.link') , doctor_dashboard_edit_path(current_doctor.name)%></p>
                              <%end%>
                              <p><%=t('.account_info') %></p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>

                           <div class="callout primary2" data-closable>
                              <h5 class="chrms-font"><%=t('.dashboard') %></h5>
                              <p>
                                 <%=t('.dashboard_info') %> <i class="fi-magnifying-glass"></i> <%=t('.icon') %>, <%=t('.dashboard_info_2') %> <strong><%=t('.referral_status') %></strong>, <%=t('.complete') %> <strong class="pending"><%=t('.pending')%> </strong>, <strong class="received"><%=t('.checked')%> </strong> <%=t('.and')%>  <strong class="replied"><%=t('.completed')%> </strong>.
                              </p>
                              <ul>
                                  <li>
                                    <p class="pending" style="margin-bottom: 0;"><%=t('.pending')%> </p>
                                    <p style="margin-top: 0; margin-bottom: 0"><%=t('.pending_quide') %> </p>
                                  </li>
                                  <li>
                                    <p class="received" style="margin-bottom: 0"><%=t('.checked') %> </p>
                                    <p style="margin-top: 0; margin-bottom: 0"><%= t('.checked_guide') %> </p>
                                  </li>
                                  <li>
                                    <p class="replied" style="margin-bottom: 0"><%=t('.completed')%> </p>
                                    <p style="margin-top: 0; margin-bottom: 0"><%=t('.completed_guide') %> </p>
                                  </li>
                              </ul>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>

                            <div class="callout primary2" data-closable>
                              <h5 class="chrms-font"><%=t('.referred_doctors') %> </h5>
                              <p>
                                 <%=t('.guide') %>
                              </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>

                              <div class="callout primary2" data-closable>
                              <h5 class="chrms-font"><%=t('.referrals_made')%> </h5>
                              <p>
                                 <%=t('.guide_2') %> 
                              </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>