<%provide(:title, "About - CHRMS") %>
	<div class="row">
		<div class="large-12 columns" style="padding-top: 2rem">
			 <h2 class="text-center chrms-font"s tyle="color: #828282">
			 	<%=t('pages.about.header') %> 
			 		<hr class="horizontal-line"/>
			 </h2>

		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3 class="chrms-font"><%=t('pages.about.we')%></h3>
			<p>
				<%=t('pages.about.we_desc') %>
			</p>
		</div>
	</div>
	<div class="row" style="padding-bottom: 4rem">
			<div class="large-12 columns">
			 <h3 class="chrms-font">
			 	<%=t('pages.about.why_online') %>
			 </h3>
			 <p>
			 	<%= t('pages.about.why_online_desc') %>
			 </p>
			</div>
	</div>
</div>