<%provide(:title, "Home - CHRMS") %>
<div class="large-12 image_background" >
	<div class="row">
		
	</div>
	<div class="row" style="margin-left: 0rem">
		<div class="large-6 columns display" style="margin-top: 17rem">
			<%= render "slide_show"%>
		</div>
		
	</div>
	
</div>

<%= render "layouts/shared/header" %>
<div id="inner" class="large-12">
	<div class="features">
	  <div class="feature-intro">
	    <h1 class="text-center chrms-font">
	      <%= t('pages.home.what_we_do') %>
	    </h1>
	  </div>
	</div>

	<div class="row" style="margin-top: 1rem">
	<div class="large-6 columns unity">
	<h3 class="chrms-font" style="color: #80CBC4; text-align: right"><%=t('pages.home.we_believe_in')%> <i 
	style="padding: 10px; color: red"><%=image_tag('unity.svg', class: "processing")%></i>
	</h3>
		<p>
			<%=t('pages.home.believe_desc') %>
		</p>
		<h3 class="chrms-font" style="color: #80CBC4;"><%=t('pages.home.quality_referals') %></h3>
		<p>
			<%=t('pages.home.quality_desc') %>
		</p>
	</div>
	<div class="large-6 columns" style="text-align: left">
	<h3 class="chrms-font" style="color: #80CBC4"><i style="padding: 10px"><%=image_tag('easy.svg', class: "processing") %></i><%=t('pages.home.processing') %></h3>
		<p>
			<%= t('pages.home.processing_desc') %>
		</p>

		<h3 class="chrms-font" style="color: #80CBC4"><%=t('pages.home.primary') %> </h3>
		<p>
			<%= t('pages.home.primary_desc') %>
			<strong><%=t('pages.home.r_token') %></strong>
			<%=t('pages.home.primary_desc2')%> 
			<!-- A high proportion of patients seen in tertiary health facilities is due to them not being referred. The result of this is overcrowding of the tertiary health facilities with problems that can be managed at the lower levels. High skilled manpower and equipments are wasted on health problems requiring lesser resources to solve.
			In CHRMS every patient needs to be reffered and given an <strong><%=t('pages.home.r_token') %></strong> to carry along when visiting the tertiary health facility, with this the issue of patients going to tertiary health facilities and crowding it will be reduced. -->
		</p>
		
	</div>
	</div>

	
</div>
	<div class="row" style="margin-bottom: 2rem">
		<div class="large-6 large-offset-3 columns text-center">
			<hr class="horizontal-line">
			<h3 class="chrms-font" style="letter-spacing: .5rem; color: #094c21"><%=t('pages.home.aim')%> </h3>
			<blockquote>
				<p class="chrms-font" style="font-size: 1.2rem">
					<%=t('pages.home.aim_desc') %>
				</p>
			</blockquote>
		</div>
	</div>






