<%provide(:title, "Privacy Policy") %>
<div class="row">
	<div class="large-12 columns">
			<h1 class="text-center chrms-font" style="margin-top: 2rem">
				<%=t('.privacy') %>
			</h1>
			<hr class="horizontal-line">
			<ol>
				<li>
					<h4 style="margin-left: 3rem">
						<%=t('.purpose') %>
					</h4>
				</li>
					<p style="margin-left: 3rem">
						 <%= t('.purpose_desc') %>
					</p>

				<li>
					<h4 style="margin-left: 3rem">
						<%=t('.personal_info') %>
					</h4>
				</li>
				<h5><span>2.1</span>   <span style="text-decoration: underline"><%=t('.patient') %></span></h5>
					<p style="margin-left: 2.5rem">
						<%= t('.personal_info_desc') %>
					</p>
					<ul style="margin-left: 3.5rem">
						<li>
							<%=t('.patient_list_1') %>
						</li>
						<li>
							<%=t('.patient_list_2') %>
						</li>
						<li>
							<%= t('.patient_list_3') %>
						</li>
						<li>
							<%= t('.patient_list_4') %>
						</li>
						<li>
							<%=t('.patient_list_5') %>
						</li>
					</ul>

				<h5><span>2.2</span>   <span style="text-decoration: underline"><%=t('.visitors') %> </span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.visitors_desc') %>
				</p>
				<h5><span>2.3</span>   <span style="text-decoration: underline"><%=t('.health_providers')%> </span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.health_providers_desc') %>
				</p>
				<p style="margin-left: 2.5rem">
					<%= t('.info_collected') %>
				</p>
				<ul style="margin-left: 3.5rem">
					<li><%=t('.name')%> </li>
					<li><%=t('.contact') %></li>
					<li><%=t('.role')%> </li>
					<li><%=t('.connection') %> </li>
				</ul>
				<li>
					<h4 style="margin-left: 3rem"><%=t('.method_of_collecting') %> </h4>
					<p style="margin-left: 3rem">
						<%=t('desc_method')%>
					</p>
					<p style="margin-left: 3rem">
						<%=t('.staff_collecting_data') %>
					</p>
					<p style="margin-left: 3rem">
						<%=t('.third_parties') %>
					</p>
				</li>

				<h5><span>3.1</span>   <span style="text-decoration: underline"><%=t('.patients') %></span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.patients_info') %>
				</p>
				<p style="margin-left: 2.5rem">
					<%=t('.patient_data') %>
 				</p>
				<ul style="margin-left: 3.5rem">
					<li><%=t('.data_list_1') %> </li>
					<li><%=t('.data_list_2')%> </li>
					<li><%=t('.data_list_3') %> </li>
				</ul>

				<h5><span>3.2</span>   <span style="text-decoration: underline"><%=t('.visitors_3_2')%> </span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.visitors_3_2_desc') %>
				</p>
				<h5><span>3.3</span>   <span style="text-decoration: underline"><%=t('.health_providers_3_3')%> </span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.health_providers_3_3_desc') %>
				</p>

				<li>
					<h4 style="margin-left: 3rem"><%=t('.collection_reason') %></h4>
					<p style="margin-left: 3rem">
						<%=t('.collection_desc')%> 
					</p>
					<p style="margin-left: 3rem">
						<%=t('.collection_desc_2') %>  
					</p>
					<p style="margin-left: 3rem">
						<%=t('.collection_desc_3') %>   
					</p>

				</li>
				<h5><span>4.1</span>   <span style="text-decoration: underline"><%=t('.patient_4_1')%> </span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.patient_4_1_desc_1') %>
				</p>
				<p style="margin-left: 2.5rem">
					<%=t('.patient_4_1_desc_2')%>
				</p>
				<ul style="margin-left: 3.5rem">
					<li><%=t('.data_list_4')%> </li>
					<li><%=t('.data_list_5')%>  </li>
					<li><%=t('.data_list_6')%> </li>
					<li><%=t('.data_list_7')%> </li>
					<li><%=t('.data_list_8')%> </li>
				</ul>
				<h5><span>4.2</span>   <span style="text-decoration: underline"><%=t('.visitors_4_2')%> </span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.visitors_4_2_data') %>
				</p>

				<h5><span>4.3</span>   <span style="text-decoration: underline"><%=t('.health_providers_4_3') %></span></h5>
				<p style="margin-left: 2.5rem">
					<%=t('.health_providers_4_3_data') %>
				</p>
				<ul style="margin-left: 3.5rem">
					<li>
						<%=t('.health_providers_4_3_data_list_1')%>
					</li>
					<li>
						<%=t('.health_providers_4_3_data_list_2') %>
					</li>
					<li>
						<%=t('.health_providers_4_3_data_list_3') %>
					</li>

				</ul>
				<p style="margin-left: 2.5rem">
					<%=t('.health_providers_4_3_data_more') %>
				</p>
			<li>
				<h4 style="margin-left: 3rem"><%=t('.securing_data') %></h4>
				<p style="margin-left: 3rem">
					<%=t('.securing_data_1')%>
				</p>

				<p style="margin-left: 3rem">
					<%=t('.securing_data_2') %>
				</p>
				<p style="margin-left: 3rem">
					<%=t('.securing_data_3') %> 
				</p>
			</li>

			<li>
				<h4 style="margin-left: 3rem"><%=t('.sharing_data')%></h4>
				<p style="margin-left: 3rem">
					<%=t('.sharing_data_1') %>
				</p>
			</li>
			<li>
				<h4 style="margin-left: 3rem"><%=t('.data_infringementation')%> </h4>
				<p style="margin-left: 3rem">
					<%=t('.data_infringementation_1') %>
				</p>
			</li>

			<li>
				<h4 style="margin-left: 3rem"><%=t('.access')%> </h4>
				<p style="margin-left: 3rem">
					<%=t('.access_desc') %>
				</p>
			</li>
			</ol>
	</div>
</div>














