<%provide(:title, "Account Settings - CHRMS") %>
<%provide(:button_text, "Update") %>
<div class="medium-3 columns">
<!-- left site navigation that houses the links-->

	<ul class="tabs vertical" style="margin-bottom: 0;" id="target" data-tabs>
		<li class="tabs-title" style="border-bottom: 1px solid #e0e0e0"><a href="#account-summary" aria-selected="false">Account Summary</a></li>

		<li class="tabs-title is-active"><%=link_to 'Account Settings', '#profile-settings'%></li>
		
	</ul>
	<table style="margin-top: 0; border-top: 0">
		<tr>
			<td class="back">
				<%=link_to 'Dashboard', doctor_dashboard_path %>
			</td>
		</tr>
	</table>
	
</div>

 <div class="row">
      	<div class="large-9 columns">
         <div class="row collapse">        
		    <!--Container that displays the pages-->
		    <div class="large-12 columns">
			    <div class="tabs-content vertical" data-tabs-content="target">
			      	<div class="tabs-panel" id="account-summary">
			      		<h4>Account Summary</h>
				        	<p class="rules">Account summary gives you details of all your personal information, and can help you to edit where there is a mistake.</p>
				        	<hr class="horizontal-line">
				        	
				        	<div class="row">
				        		<div class="medium-3 columns">
				        			<h2>
				        				<%if current_doctor.photo_file_name.nil? %>
				        					<%= gravatar_for(current_doctor) %>
				        					<%else%>
				        					<%=image_tag(current_doctor.photo.url) %>
				        				<%end%>
				        				
				        			</h2>
				        		</div>
				        		<div class="medium-9 columns">
				        			<%= render "doctors/shared/details_profile" %>
				        		</div>
				        		<hr class="horizontal-line">
				        	</div>
				        	<div class="row">
				        		<div class="large-12 columns content">
				        			<h5>Mobile Number: <strong>(+237) <%=@doctor.mobile_number %></strong></h5>
				        			<%if @doctor.mobile_number2.nil? %>
				        				<h5>Mobile Number 2: <strong>(+237) <%=@doctor.mobile_number2%></strong></h5>
				        				<%else%>

				        			<%end%>
				        			<h5>Country: <strong><%=@doctor.country %></strong></h5>
				        			<h5>Region: <strong><%=@doctor.region %></strong></h5>
				        			<h5>City: <strong><%=@doctor.city %></strong></h5>
				        			<h5>Email Address: <strong><%=@doctor.email %></strong></h5>
				        			<h5>Educational summary</h5>
				        			<div style="border-top: 1px solid #2199e8">
					        			<h6>
					        				<%= @doctor.educational_summary %>
					        			</h6>
				        			</div>
				        		</div>
				        	</div>
			      	</div>
			      
			      <div class="tabs-panel is-active" id="profile-settings">
			      	<h4>Account Settings</h4>
			      	 <p class="rules">
			        	Control your account information, both what other colleagues see. 
			        	To understand what's acceptable to display on profile, please see 
			        	<a data-open="rule">these rule.</a> 
			        	<strong>Note</strong> that is a Medical Software Application, We will appreciate if you state your <strong>VALID</strong> information as a doctor, any <strong>INVALID</strong> information entered here will lead to <span style="text-decoration: line-through">account deactivation</span>.
			        <div class="reveal" id="rules" data-reveal>
						<h1>Information Needed.</h1>
						<hr class="horizontal-line">
							<p class="lead">Your couch. It is mine.</p>
							  <p>I'm a cool paragraph that lives inside of an even coolmodal. Wins!</p>
			<button class="float-right top" data-close aria-label="Clomodal" type="button">
							  <span aria-hidden="true">&times;</span>
						</button>
					</div>
				     </p>
				        <hr class="horizontal-line">
				        <%= render "doctors/shared/edit_form" %>
			      </div>
			      
			      
			    </div>
			  </div>
		</div>
     </div>
</div>