<%provide(:title, "Referred Doctors - CHRMS") %>
<div class="large-2 columns">
	<table>
		<td><h6><%=t('.referral_doctors')%> </h6></td>
		<tr>
			<td>
				<%= link_to t('.dashboard') , doctor_dashboard_path, style: "padding-left: .3rem"%>
			</td>
		</tr>
		<tr class="hide-for-small-only">
			<td>
				<ul class="hospital_filter dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
  					<li>
  						<a style="background: inherit; padding-left: .1rem" class="large-12"><%=t('.hospitals')%> </a>
  						<ul class="menu">
  							<li><%= link_to t('.all_hospitals') ,doctor_dashboard_request_referral_hospitals_path  %></li>
  							<% Hospital.all.each do |hospital| %>
  								<li><%= link_to "#{hospital.hospital_name}", doctor_dashboard_request_referral_hospitals_path(hospital: "#{hospital.hospital_name}")%></li>
  							<%end%>
      						
    					</ul>
  					</li>
 						
				</ul>
				
			</td>
		</tr>
		<tr class="show-for-small-only">
			<td>
				<%= render 'doctors/shared/search_hospitals'%>
			</td>
			
		</tr>
		
		
	</table>
</div>
<div class="row">
	
	<div class="large-10 columns" style="margin-top: .5rem">
		<div class="text-center">
			<%if params[:hospital].blank? %>
				<%if @doctors.count - 1 == 0 %>
					<p><%= t('.no_doctors')%> </p>
				 <%else%>
					<p><%=t('.displaying_all')%> </p>
				<%end%>

			<% @doctors.each do  |doctor| %>

			<% if doctor == current_doctor %>
				<%next%>
			<%elsif doctor.photo_file_name.nil? && doctor.surname != nil%>
			<div class="large-4 small-12 medium-6 columns end">

                    <div class="card">

                      <div class="image">

                        <!--<img src="http://images.freeimages.com/images/previews/cf6/bird-1394216.jpg">-->
                   		<%if doctor.photo_file_name.nil? %>
                   			
                   			<%= gravatar_for(doctor)%>

                   			<%else%>
                   				<%= image_tag(doctor.photo.url) %>
                   				
                   		<%end%>
                        

                        <span class="title">
		                  	
		                    <strong>
		                    	Dr. <%=capitalize_name(doctor.given_names)%>		                    		
		                    </strong>
		                  		
                    	</span>

                      </div>

                      <div class="content">
	                      <h4 style="padding-bottom: 0"><%=t('.details')%> </h4>
	                      <hr class="horizontal-line" style="margin-top: 0; margin-bottom: .6rem">
	                        <p style="padding-top: 0">
	                          <%=t('.hospital_label') %> : <strong><%= doctor.hospital.hospital_name %></strong> 
	                        </p>

	                        <p>
	                          <%=t('.speciality') %>: <strong><%=doctor.speciality %></strong>
	                        </p>
	                        <p>
	                          <%=t('.current_city') %>: <strong><%=doctor.city %></strong>
	                        </p>

	                       <p>
	                          Language: <strong><%= doctor.languages%></strong>
	                       </p>
                      </div>

                      <div class="action">
							<%= link_to t('.re_referral') , doctor_dashboard_request_referral_hospitals_doctors_path(doctor.id), class: "button success radius", style: "margin-left: 1rem" %>
                      </div>

                    </div>

            </div>

                  <!-- profession section
                  <div class="large-4 medium-7 columns end">

                    <div class="card">

                      <div class="content">

                        <span>About Me</span>

                        <p>
                          
                        </p>

                      </div>

                      <div class="action">
                        
                      </div>

                    </div>

                  </div>-->
                  <%end%>

				<%end%>
				
   					
				
				<%else%>
					<%if @doctors.present?%>
						<p><%=t('.search_result')%> <strong><u><%= params[:hospital] %></u></strong></p>
						<% @doctors.each do  |doctor| %>
					
					
						<% if doctor == current_doctor %>
						<%next%>
						 
						 <%elsif doctor.photo_file_name.nil? && doctor.surname != nil%>
						 	
						
						
				<div class="large-4 small-12 medium-6 columns end">

	                    <div class="card">

	                      <div class="image">

	                        <!--<img src="http://images.freeimages.com/images/previews/cf6/bird-1394216.jpg">-->
	                        <%if doctor.photo_file_name.nil? %>
                   			
                   				<%= gravatar_for(doctor) %>
                   			<%else%>
                   				<%= image_tag(doctor.photo.url) %>
                   				
                   			<%end%>

	                        <span class="title">

	                  	<strong>Dr. <%=doctor.given_names %></strong>
	                    </span>

	                      </div>

	                      <div class="content">
		                      <h4 style="padding-bottom: 0"><%=t('.details')%> </h4>
		                      <hr class="horizontal-line" style="margin-top: 0; margin-bottom: .6rem">
		                        <p style="padding-top: 0">
		                          <%=t('.hospital_label')%> : <strong><%= doctor.hospital.hospital_name %></strong> 
		                        </p>

		                        <p>
		                          <%=t('.speciality')%>: <strong><%= doctor.speciality%></strong>
		                        </p>

		                        <p>
		                          <%=t('.current_city')%>: <strong><%= doctor.city %></strong>
		                        </p>
	                      </div>

	                      <div class="action">
								<%= link_to t('.re_referral') , doctor_dashboard_request_referral_hospitals_doctors_path(current_doctor.id) , class: "button success radius", style: "margin-left: 1rem"%>
	                      </div>

	                    </div>

	            </div>

	                  <!-- profession section
	                  <div class="large-4 medium-7 columns end">

	                    <div class="card">

	                      <div class="content">

	                        <span>About Me</span>

	                        <p>
	                          
	                        </p>

	                      </div>

	                      <div class="action">
	                        
	                      </div>

	                    </div>

	                  </div>-->
	                  <%end%>

				<%end%>
					<%else%>
							<p style="color: #ce181b"><%=t('.no_doctors')%> <strong><u></u></strong></p>
					<%end%>

			<%end%>
			
		</div>
		
                 
	</div>
</div>
<div class="row">
	<div class="large-12 columns text-center">
		<%= will_paginate @doctors, renderer: BootstrapPagination::Rails %>
	</div>
</div>