<%provide(:title, "Complete Registeration - CHRMS") %>
<%provide(:button_text, t('.update_button')) %>
 <div class="row">
    <div class="large-8 columns">
    
      	<%= form_for(@doctor, url: doctor_incomplete_update_path(current_doctor.name)) do |f| %>

				<%= render "layouts/shared/error_messages", object: @doctor %>
				<div class="row">

			<div class="collapse-incomplete">
			<h5 class="text-center chrms-font" style="margin-bottom: 1rem; margin-top: 1.1rem">
				<%=t('.incomplete_caption')%>
			</h5>
			<hr class="horizontal-line">
				<div class="row">
					<h6 class="chrms-font" style="padding-left: 20px"><strong><%=t('.personal_infos') %></strong></h6>
						<div class="large-12 columns">
							<%=f.label :surname %>
							<%=f.text_field :surname %>
						</div>
						
						<div class="large-6 columns">
							<%=f.label :given_names %>
							<%=f.text_field :given_names %>
						</div>
						<div class="large-6 columns">
							<%=f.label :id_card_number %>
							<%=f.text_field :id_card_number %>
						</div>
						
						<div class="large-6 columns float-left">
							<%=f.label :gender %>
							<%=f.select :gender, [ t('.male') , t('.female') ], prompt: t('.gender_prompt') %>
						</div>
						<div class="large-6 columns">
								<%=f.label t('.language') %>
								<%=f.select :languages, ['English', 'French', 'French & English'], prompt: t('.select_language') %>
							</div>
						
				</div>
						<hr class="horizontal-line">
						<div class="row">
						
							<div class="large-6 columns">
							<h6 class="chrms-font"><strong><%=t('.prof_profile') %></strong></h6>
								<%=f.label :speciality %>
								<%=f.select :speciality,
								 ["Allergy and immunology",
								 "Allergology",
								 "Anaesthesiology",
								 "Pathology",
								 "Pharmacology",
								 "Plastic surgery",
								 "Cardiology",
								 "Clinical neurophysiology",
								 "Gastroenterology",
								 "General practice",
								 "Nephrology",
								 "Neurology",
								 "Neurosurgery",
								 "Paediatrics",
								 "Radiology",
								 "Neuroradiology",
								 "Radiotherapy",
								 "Rheumatology",
								 "General surgery",
								 "Urology",
								 "Vascular surgery",
								 "Tropical medicine",
								 "Thoracic surgery",
								 ], prompt: t('.speciality_prompt') %>
							</div>
							
							<!--<div class="large-12 columns">
								<%=f.label :educational_summary %>
								<%=f.text_area :educational_summary, size: '6x6' %>
							</div>-->
						</div>
						
						<hr class="horizontal-line">
						<div class="row">
						<div class="large-12 columns">
								<h6 class="chrms-font"><strong><%=t('.contact_details') %></strong></h6>
						</div>
							<!--<div class="large-4 columns">
								<%=f.label :country %>
								<%=f.select :country, ["Cameroon"], prompt: "select country" %>
							</div>-->
							<div class="large-6 columns">
								<%=f.label :region %>
								<%=f.select :region, ["Adamawa", "Centre", "East", "Far North", "Littoral","North", "Northwest","South","Southwest","West"], prompt: t('.region_prompt') %>
							</div>
							<div class="large-6 columns">
								<%=f.label "city" %>
								<%=f.select :city, ["Buea", "Douala", "Yaounde", ], prompt: t('.city_prompt') %>
							</div>
						</div>

						<div class="row">
							<div class="large-4 columns">
								<%=f.label :mobile_number %>
								<%=f.text_field :mobile_number %>
							</div>
							<div class="large-4 columns">
								<%=f.label t('.mobile_number2') %>
								<%=f.text_field :mobile_number2 %>
							</div>
							<div class="large-4 columns"></div>
						</div>
						
						<div class="row">
							<div class="large-4 columns">	
								<%=f.label :email %>
								<%=f.email_field :email %>
							</div>
						</div>
						
			</div>
			</div>
		<%=f.submit yield(:button_text), class: "button chrms radius large-4" %>
				
		</div>

				
		<%end%>
		<div class="large-4 columns">
	 	<div class="row">
	 		<div class="large-12 columns">
	 			<h4 style="margin-top: 1rem"><%=t('.why_complete_reg') %></h4>
					<hr class="horizontal-line">
					<p><strong><%=t('.chrms') %></strong> <%=t('.body_reason') %> <strong><%=t('.left') %></strong> <%=t('.body_reason2') %>
					</p>
					<ul>
						<li><%=t('.reason_1') %></li>
						<li><%=t('.reason_2')%> </li>
						<li><%=t('.reason_3')%> </li>
					</ul>
		
	 		</div>
	 		<div class="large-12 columns">
	 			<h4 class="text-center chrms-font"><%=t('.advert_block')%> </h4>
	 		</div>
	 	</div>
		
 
	 </div>
    </div>
     
</div>
