<%provide(:title, "Complete Registeration - CHRMS") %>
<%provide(:button_text, "Update") %>
 <div class="row">
    <div class="large-8 columns">
    
      	<%= form_for(@doctor, url: doctor_incomplete_update_path(current_doctor.name)) do |f| %>

				<%= render "layouts/shared/error_messages", object: @doctor %>
				<div class="row">

			<div class="collapse-incomplete">
			<h5 class="text-center" style="margin-bottom: 1rem; margin-top: 1.1rem">
				Just a one step to complete your registration process
			</h5>
			<hr class="horizontal-line">
				<div class="row">
					<h6><strong>Personal Information</strong></h6>
						<div class="large-12 columns">
							<%=f.label :surname %>
							<%=f.text_field :surname %>
						</div>
						
						<div class="large-6 columns">
							<%=f.label :given_names %>
							<%=f.text_field :given_names %>
						</div>
						<div class="large-6 columns">
							<%=f.label :id_card_number %>
							<%=f.text_field :id_card_number %>
						</div>
						
						<div class="large-4 columns float-left">
							<%=f.label :gender %>
							<%=f.select :gender, ['Male', 'Female'], prompt: "Select gender"%>
						</div>
						
				</div>
						<hr class="horizontal-line">
						<div class="row">
						<h6><strong>Professional Profile</strong></h6>
							<div class="large-4 columns">
								<%=f.label "education level" %>
								<%=f.text_field :education %>
							</div>
							<div class="large-4 columns">
								<%=f.label :speciality %>
								<%=f.text_field :speciality %>
							</div>
							<div class="large-12 columns">
								<%=f.label :educational_summary %>
								<%=f.text_area :educational_summary, size: '6x6' %>
							</div>
						</div>
						
						<hr class="horizontal-line">
						<div class="row">
								<h6><strong>Contact Details</strong></h6>
							<div class="large-5 columns">
								<%=f.label :country %>
								<%=f.text_field :country %>
							</div>
							<div class="large-5 columns">
								<%=f.label :region %>
								<%=f.select :region, ["Adamawa","Centre","East","Far North","Littoral","North","Northwest","South","Southwest","West"], prompt: 'select region' %>
							</div>
							<div class="large-5 columns">
								<!--<%=f.label "city" %>
								<%=f.text_field :city %>-->
							</div>
						</div>

						<div class="row">
							<div class="large-4 columns">
								<%=f.label "Mobile number" %>
								<%=f.text_field :mobile_number %>
							</div>
							<div class="large-4 columns">
								<%=f.label "Mobile number 2 (optional)" %>
								<%=f.text_field :mobile_number2 %>
							</div>
							<div class="large-4 columns"></div>
						</div>
						
						<div class="row">
							<div class="large-4 columns">	
								<%=f.label :email %>
								<%=f.text_field :email %>
							</div>
						</div>
						
			</div>
			</div>
		<%=f.submit yield(:button_text), class: "button chrms radius large-4" %>
				
		</div>

				
		<%end%>
		<div class="large-4 columns">
	 	
		<h4 style="margin-top: 1rem">Why complete my registration</h4>
		<hr class="horizontal-line">
		<p><strong>CHRMS</strong> doesnot assume his users information by so doing he ask you to provide the information for yourself by completing the form at the <strong>LEFT</strong> side of the screen so he can better understand you and ease the communication with your colleague.
		Without you completing this process.
		</p>
		<ul>
			<li>You can't get to your dashboard</li>
			<li>You can't view you account setting / update your record</li>
			<li>You can't refer patients since you don't have access to the dashboard</li>
		</ul>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
 
	 </div>
    </div>
     
</div>
