<%provide(:title, 'My Patients - CHRMS') %>
<div class="row">
	<div class="large-12 columns">
		<h4 class="text-center">Displaying the list of all my referred patients</h4>

		<table>
			<tr>
				<th>Patient's Full Names</th>
				<th>Patient's Address</th>
				<th>Patient's Contact</th>
				<th>Patient's YOB / Age</th>
			</tr>
			<% if @patients.present? %>
			<% @patients.each do |patient| %>

				<tr>
					<td><%= patient.patient_full_names%></td>
					<td><%= patient.patient_address%></td>
					<td>(+237) <%= patient.patient_mobile_number %></td>
					<td><%= Date.today.year - patient.patient_age.to_i%> / <%=patient.patient_age%></td>
				</tr>
			<%end%>

			<% else %>
				<p>You have no patient at this time</p>
			<%end%>
		</table>
		<%= link_to 'Back', doctor_dashboard_path, class: "button chrms radius large-2" %>
	</div>
</div>