<%provide(:title, "Patient Referral Details - CHRMS") %>
<div class="row">
	<div class="large-12 columns">
		<h4 class="chrms-font" style="text-decoration: underline">Initiated Facility Name: <strong><%= @patient.initiating_facility_name %></strong></h4>
		<h4>by : Dr. <%= @patient.referring_doctors_name%></h4>

		<table>
			<tr>
				<th>
					Patient Names
				</th>
				<th>
					Patient Mobile Number
				</th>
				<th>
					Patient gender
				</th>

				<th>
					Patient age
				</th>
				<th>
					Patient address
				</th>
				<%if @patient.referral_status == "completed" %>
				<th>
					Referral Status
				</th>
				<%end%>
				
			</tr>
			<tr>
				<td>
					<%=@patient.patient_full_names%>
				</td>
				<td>
					(+237) <%=@patient.patient_mobile_number%>
				</td>
				<td>
					<%=@patient.patient_gender.capitalize %>
				</td>

				<td>
					<%= @patient.patient_age %> years old
				</td>
				<td>
					<%= @patient.patient_address%>
				</td>
				<%if @patient.referral_status == "completed" %>
				<td>
					<%=@patient.referral_status %>
				</td>
				<%end%>
				
			</tr>
			
		</table>
		<table>
			<tr>
				<td>
					<h5 class="chrms-font" >
						<strong>Patient Clinical History</strong>
						
					</h5>
					<%= @patient.patient_clinical_history %>
					
					
				</td>
			</tr>

		</table>
		<table>
			<tr>
				<td>
					<h5 class="chrms-font" >
						<strong>Patient Findings</strong>
					</h5>

					<% tag = @patient.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
					<%if @patient.findings.include?("<ul>") || @patient.findings.include?("<ol>")%>
							<%tags1 = @patient.findings.split("<li>") %>

						<<%="#{tag}"%>>
							<% tags1.each do |tags| %>
								<% tags2 = tags.split("</li>") %>
								 <% tags2.each do |tags| %>
								 	<%tags3 = tags.split("<ul>") %>
								 	<%tags3.each do |tags| %>
								 		<% tags4 = tags.split("</ul>") %>
								 		<% tags4.each do |tags| %>
								 			<% tags5 = tags.split("<strong>") %>
								 			<% tags5.each do |tags| %>
								 				<%tags6 = tags.split("</strong>") %>
								 				<%tags6.each do |tags| %>
								 					<% tags7 = tags.split("<div>")%>
								 					<% tags7.each do |tags|%>
								 						<%tags8 = tags.split("</div>") %>
								 						<%tags8.each do |tags| %>
								 							<%tags9 = tags.split("<br>") %>
								 							<%tags9.each do |tags| %>
								 								<%tags10 = tags.split("&nbsp;") %>
								 								<%tags10.each do |tags| %>
								 								 <%tags11 = tags.split("<ol>") %>
								 								 	<%tags11.each do |tags| %>
								 								 		<% tags12 = tags.split("</ol>")%>
								 								 		<% tags12.each do |tags| %>
								 								 			<%tags13 = tags.split("<em>")%>
								 								 			<%tags13.each do |tags| %>
								 								 				<% tags14 = tags.split("</em>") %>
								 								 				<%tags14.each do |tags| %>
								 								 					<% tags15 = tags.split("<pre>") %>
								 								 					<%tags15.each do |tags| %>
								 								 						<% tags16 = tags.split("</pre>") %>
								 								 						<%tags16.each do |tags| %>
								 								 						<%tags17 = tage.split("<div>")%>
								 								 						<%tags17.each do |tags| %>
								 								 							<%tags18 = tags.split('</div>') %>
								 								 							<%tags18.each do |tags| %>
								 								 							<%tags19 = tags.split("&nbsp;")%>
								 								 							<%tags19.each do |tags| %>
								 								 								<li><%= tags%></li>
								 								 							
								 								 									<%end%>
								 								 								<%end%> 
								 								 							<%end%>
								 								 						<%end%>
								 								 					<%end%>
								 								 				<%end%>
								 								 			<%end%>
								 								 		<%end%>
								 								 	<%end%>
								 								<%end%>
								 							<%end%>
								 						<%end%>
								 					<%end%>
								 				<%end%>
								 			<%end%>
								 		<%end%>
								 	<%end%>
								 <%end%>
							<%end%>
							<%elsif @patient.findings.include?("<div>")%>
								<ul>
								<%divs = @patient.findings.split("<div>") %>
								<%divs.each do |div|%>
									<%divs = div.split("</div>") %>
									 <%divs.each do |div| %>
									 <%divs = div.split("&nbsp;")%>
									 <%divs.each do |div| %>
									 	<li><%= div %> </li>
									 	<%end%>
									 <%end%>
								<%end%>
								</ul>
							<%else%>
							<li><%= @patient.findings %></li>
						</ul>

					<%end%>
				</td>
			</tr>

		</table>
		<table>
			<tr>
				<td>
					<h5>
						<strong>Treatments Given</strong>
					</h5>
					<% tag = @patient.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
					
					<%if @patient.treatment_given.downcase.include?("<ul>") || @patient.treatment_given.downcase.include?("<ol>")%>
						
						
							<%tags1 = @patient.treatment_given.split("<li>") %>

						<<%="#{tag}"%>>
							<% tags1.each do |tags| %>
								<% tags2 = tags.split("</li>") %>
								 <% tags2.each do |tags| %>
								 	<%tags3 = tags.split("<ul>") %>
								 	<%tags3.each do |tags| %>
								 		<% tags4 = tags.split("</ul>") %>
								 		<% tags4.each do |tags| %>
								 			<% tags5 = tags.split("<strong>") %>
								 			<% tags5.each do |tags| %>
								 				<%tags6 = tags.split("</strong>") %>
								 				<%tags6.each do |tags| %>
								 					<% tags7 = tags.split("<div>")%>
								 					<% tags7.each do |tags|%>
								 						<%tags8 = tags.split("</div>") %>
								 						<%tags8.each do |tags| %>
								 							<%tags9 = tags.split("<br>") %>
								 							<%tags9.each do |tags| %>
								 								<%tags10 = tags.split("&nbsp;") %>
								 								<%tags10.each do |tags| %>
								 								 <%tags11 = tags.split("<ol>") %>
								 								 	<%tags11.each do |tags| %>
								 								 		<% tags12 = tags.split("</ol>")%>
								 								 		<% tags12.each do |tags| %>
								 								 			<%tags13 = tags.split("<em>")%>
								 								 			<%tags13.each do |tags| %>
								 								 				<% tags14 = tags.split("</em>") %>
								 								 				<%tags14.each do |tags| %>
								 								 					<% tags15 = tags.split("<pre>") %>
								 								 					<%tags15.each do |tags| %>
								 								 						<% tags16 = tags.split("</pre>") %>
								 								 						<%tags16.each do |tags| %>
								 								 						 <%tags17 = tags.split("<div>")%>
								 								 						 <%tags17.each do |tags| %>
								 								 						 <%tags18 = tags.split("</div>")%>
								 								 						 <%tags18.each do |tags| %>
								 								 						 <%tags19 = tags.split("&nbsp;")%>
								 								 						 <%tags19.each do |tags| %>
								 								 						 <li><%= tags%></li>
								 								 						 			<%end%>
								 								 						 		<%end%>
								 								 						 	<%end%>
								 								 						<%end%>
								 								 					<%end%>
								 								 				<%end%>
								 								 			<%end%>
								 								 		<%end%>
								 								 	<%end%>
								 								<%end%>
								 							<%end%>
								 						<%end%>
								 					<%end%>
								 				<%end%>
								 			<%end%>
								 		<%end%>
								 	<%end%>
								 <%end%>
							<%end%>
							<%elsif @patient.treatment_given.include?("<div>")%>
								<ul>
								<%divs = @patient.treatment_given.split("<div>") %>
								<%divs.each do |div|%>
									<%divs = div.split("</div>") %>
									 <%divs.each do |div| %>
									 <%divs = div.split("&nbsp;") %>
									 <%divs.each do |div| %>
									 	<li><%= div %> </li>
										 <%end%>
									 <%end%>
								<%end%>
								</ul>
							<%else%>
							<li><%= @patient.treatment_given %> </li>

						</ul>

					<%end%>
				</td>
			</tr>

		</table>
		<table>
			<tr>
				<td>
					<h5 class="chrms-font">
						<strong>Reasons For This Referral</strong>
					</h5>
					<% tag = @patient.reasons_for_referral.downcase.include?("<ul>") ? "ul" : "ol" %>
					<%if @patient.reasons_for_referral.include?("<ul>") || @patient.reasons_for_referral.include?("<ol>")%>
							<%tags1 = @patient.reasons_for_referral.split("<li>") %>

						<<%="#{tag}"%>>
							<% tags1.each do |tags| %>
								<% tags2 = tags.split("</li>") %>
								 <% tags2.each do |tags| %>
								 	<%tags3 = tags.split("<ul>") %>
								 	<%tags3.each do |tags| %>
								 		<% tags4 = tags.split("</ul>") %>
								 		<% tags4.each do |tags| %>
								 			<% tags5 = tags.split("<strong>") %>
								 			<% tags5.each do |tags| %>
								 				<%tags6 = tags.split("</strong>") %>
								 				<%tags6.each do |tags| %>
								 					<% tags7 = tags.split("<div>")%>
								 					<% tags7.each do |tags|%>
								 						<%tags8 = tags.split("</div>") %>
								 						<%tags8.each do |tags| %>
								 							<%tags9 = tags.split("<br>") %>
								 							<%tags9.each do |tags| %>
								 								<%tags10 = tags.split("&nbsp;") %>
								 								<%tags10.each do |tags| %>
								 								 <%tags11 = tags.split("<ol>") %>
								 								 	<%tags11.each do |tags| %>
								 								 		<% tags12 = tags.split("</ol>")%>
								 								 		<% tags12.each do |tags| %>
								 								 			<%tags13 = tags.split("<em>")%>
								 								 			<%tags13.each do |tags| %>
								 								 				<% tags14 = tags.split("</em>") %>
								 								 				<%tags14.each do |tags| %>
								 								 					<% tags15 = tags.split("<pre>") %>
								 								 					<%tags15.each do |tags| %>
								 								 						<% tags16 = tags.split("</pre>") %>
								 								 						<%tags16.each do |tags| %>
								 								 						<%tags17 = tags.split("<div>")%>
								 								 						<%tags17.each do |tags| %>
								 								 							<%tags18 = tags.split("</div>") %>
								 								 							<%tags19 = tags.split('&nbsp;')%>
								 								 							<%tags19.each do |tags| %>
								 								 							<li><%= tags%></li>
								 								 								<%end%>
								 								 							<%end%>
								 								 						<%end%>
								 								 					<%end%>
								 								 				<%end%>
								 								 			<%end%>
								 								 		<%end%>
								 								 	<%end%>
								 								<%end%>
								 							<%end%>
								 						<%end%>
								 					<%end%>
								 				<%end%>
								 			<%end%>
								 		<%end%>
								 	<%end%>
								 <%end%>
							<%end%>
							<%elsif @patient.reasons_for_referral.include?("<div>")%>
								<ul>
								<%divs = @patient.reasons_for_referral.split("<div>") %>
								<%divs.each do |div|%>
									<%divs = div.split("</div>") %>
									 <%divs.each do |div| %>
									 <%divs = div.split("&nbsp;") %>

									 <%divs.each do |div| %>
									 	<li><%= div %> </li>
									 	<%end%>
									 <%end%>
								<%end%>
								</ul>
							<%else%>
							<li><%= @patient.reasons_for_referral %></li>

						</ul>

					<%end%>
				</td>
			</tr>

		</table>
		<table>
			<tr>
				<td>
					<h5 class="chrms-font">
						<strong>Message from Dr. <%="#{@patient.referring_doctors_name}" %></strong>
					</h5>
					<%=@patient.optional_message %>
				</td>
			</tr>

		</table>

		<p style="color: red"><span style="color: red">*</span><strong>
			<%if @patient.referral_status == "completed" %>
					This patient has being referred back to <%= @patient.initiating_facility_name %>
					<%=link_to "View Referral Back Slip", '', class: 'back', style: "color: #4e7799" %>
				<%else%>
				Note: On completion of patient management please fill in the referral back slip below and submit.</strong>
			<%end%>
			
		</p>

			<div class="row">
			  <% if @patient.referral_status == "completed" %>
			  	<div class="large-6 columns">
					<%= link_to 'Back', doctor_dashboard_path, class: "button radius secondary large-12"%>
				</div>
			  	<%else%>
			  	<div class="large-6 columns">
					<%=link_to ' Click Here To For a Referral Back Slip', doctor_dashboard_read_referral_patient_referral_back_slip_path(@patient.id),
					 class: "button chrms large-12 radius"%>
				</div>
				<div class="large-6 columns">
					<%= link_to 'Back', doctor_dashboard_path, class: "button radius secondary large-12"%>
				</div>
			  <%end%>
				
				
				
			</div>
	

	</div>
</div>