<%provide(:title, "Request Referral - CHRMS")%>
<%provide(:button_text, t('.button_submit') ) %>
<div class="row">
	<div class="large-8 columns">
		<%= render "doctors/shared/referral_form" %>
	</div>
	<div class="large-4 columns" style="margin-top:1rem">
		<h5 class="text-center chrms-font" ><%=t('.note')%> </h5>
		<p>
			<%=t('.this')%> <strong><%=t('.referral_form') %></strong> <%=t('.next_para')%>
		</p>
		<p>
			<%=t('.referral_form_data_2')%>
		</p>
	
	</div>
</div>