<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table>
		<td><h5 class="doctors_name">Dr. <%= current_doctor.surname.capitalize %></h5></td>
		<tr>

			<td>
            <div class="picture">
               <div class="image">
                  <% if current_doctor.photo.url.nil?%>
                       
                        <%=image_tag('default.png', style: 'width: 100%; height: 16rem; padding: 0') %>
                     <%else%>
                      <%= image_tag(current_doctor.photo.url, style: 'width: 100%; height: 16rem; padding: 0')%>
                        
                  <%end%> 
                  <span class="title">
                     <%= link_to 'Account Settings', doctor_dashboard_edit_path(current_doctor.name), class: 'account-settings' %><i class="fi-widget "></i>
                  </span>
                  
               </div>
            </div>
         
				
			</td>
		</tr>
      <tr>
         <td><%= link_to 'Dashboard', doctor_dashboard_path %></td>
      </tr>
      <tr>
         <td><%= link_to 'Referred Doctors', doctor_dashboard_request_referral_hospitals_path %>
         <!--<i class="badge float-right chrms"><%=@referrals.count%></i>-->
         </td>
      </tr>
      <tr>
         <td><%= link_to 'Referrals Made', doctor_dashboard_total_referrals_made_path %><i class="badge float-right alert">0</i></td>
      </tr>
      
      <tr>
         <td>
            <%= link_to 'Unapproved Referrals' %><i class="badge float-right ">0</i></td>
      </tr>
		<!--<tr>
			<td><%= link_to 'Patients', doctors_dashboard_patients_all_path(current_doctor.name) %><i class="badge float-right success">0</i></td>
		</tr>-->
		
		
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
   						<h4 style="text-decoration: underline">Referrals Inbox</h4>
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <%= render "doctors/shared/search" %>
   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
   			   <% if @referrals.present? %>
   				<table class="large-12 columns">
   					<tr>
   						<th>Referral Request from</th>
                     <th>Patient Names</th>
   						<th>Patient ID No</th>
                     <th>Referral Type</th>
   						<th>Referral Status</th>
                     <th>Date received</th>
   						
   					</tr>
   					
                  <p style="font-family: courier; margin-bottom: 0; color: #294f42">Results found</p>
   					<% @referrals.each do |referral| %>
   						<tr>
   							<td>
                         Dr. <%= "#{referral.referring_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
   							<td>
                           
      								 <%= link_to "#{referral.patient_full_names}", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id)%><br>
                               <span>click to view</span>
                         
   							</td>
                        <td>
                           <%= referral.patient_identity_number%>
                        </td>
   							<td>
                           <%=referral.type_of_referral %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><%= link_to "Pending", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "pending" %></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><%= link_to "Received", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "received" %> </label>
                            <%else%>
                              <%if referral.patient_identity_number.present? %>
                                 <label><%= link_to "Completed", doctor_dashboard_submitted_back_slips_patient_path(referral.patient_identity_number), class: "completed " %><i class="fi-check"></i></label>
                              <%else %>
                                  <label><%= link_to "Completed", doctor_dashboard_submitted_back_slips_patient_path(referral.patient_full_names), class: "completed " %><i class="fi-check"></i></label>
                              <%end%>
                            <%end%>
                           
                        </td>
   							<td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
   						</tr>
   						
   					<% end %>
   					
   					<%elsif params[:search].nil?%>
                     <h1>hello doctor! i am chrmss</h1>
                  <%else%>
   					<p style="font-family: courier; color: red">No records found for patient ID :<%=params[:search]   %></p>
                     <%= link_to 'View All', doctor_dashboard_path, class: "button chrms radius large-2"%>
   					<%end%>
   				</table>
   			
   		</div>
   		</div>
   </div>
  
</div>


