<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table class="large-12 medium-6 small-12 columns">
		<td><h5 class="doctors_name chrms-font">Dr. <%= current_doctor.surname.capitalize %></h5></td>
		<tr>

			<td>
            <div class="picture">
               <div class="image">
                  <% if current_doctor.photo_file_name.nil?%>
                       
                        <%=gravatar_for(current_doctor) %>
                     <%else%>
                      <%= image_tag(current_doctor.photo.url, class: "gravatar")%>
                        
                  <%end%> 
                  <span class="title">
                     <%= link_to 'Account Settings', doctor_dashboard_edit_path(current_doctor.name), class: 'account-settings' %><%= link_to "", doctor_dashboard_edit_path(current_doctor.name), class: "fi-widget spin" %>
                  </span>
                  
               </div>
            </div>
         
				
			</td>
		</tr>
      <tr>
         <td><%= link_to 'Dashboard', doctor_dashboard_path %></td>
      </tr>
      <tr>
         <td><%= link_to 'Referred Doctors', doctor_dashboard_request_referral_hospitals_path %>
         </td>
      </tr>
      <tr>
         <td><%= link_to 'Referrals Made', doctor_dashboard_total_referrals_made_path %><i class="badge float-right alert"><%=@mades.count%></i></td>
      </tr>
   
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
                  <% if @referrals.present?%>
                  <h4 class="chrms-font" style="text-decoration: underline">Referrals Inbox</h4>
                     <%else%>
                        <h4 class="chrms-font" style="text-decoration: underline; color: #878787">Referrals Dashboard Is Empty</h4>

                     <%end%>
   						
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <%if @referrals.present? %>
                        <%= render "doctors/shared/search" %>
                     <%else%>
                      <%= render "doctors/shared/search" %>
                     <%end%>
   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
            
   			   <% if @referrals.present? %>
   				  <table class="large-12 columns">
   					<tr>
   						<th>Referral Request from</th>
                     <th>Patient Names</th>
   						<th>Patient ID No</th>
                     <th>Referral Type</th>
   						<th>Referral Status</th>
                     <th>Date received</th>
   						
   					</tr>
   					
                    <p style="font-family: courier; margin-bottom: 0; color: #294f42">All results found</p>
                     
   					<% @referrals.each do |referral| %>

   						<tr>
   							<td>
                         Dr. <%= "#{referral.referring_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
   							<td>
                           
      								 <%= link_to "#{referral.patient_full_names}", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id)%><br>
                               <span>click to view</span>
                         
   							</td>
                        <td>
                           <%= referral.patient_identity_number%>
                        </td>
   							<td>
                           <%=referral.type_of_referral %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><%= link_to "Pending", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "pending" %></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><%= link_to "Checked", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "received" %> </label>
                            <%else%>
                              <%if referral.patient_identity_number.present? %>
                                 <label><%= link_to "Replied", doctor_dashboard_submitted_back_slips_patient_path(referral.patient_identity_number), class: "completed " %><i class="fi-check"></i></label>
                              <%else %>
                                  <label><%= link_to "Completed", doctor_dashboard_submitted_back_slips_patient_path(referral.patient_full_names), class: "completed " %><i class="fi-check"></i></label>
                              <%end%>
                            <%end%>
                           
                        </td>
   							<td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
   						</tr>
   						
   					<% end %>


   					
   					<%elsif params[:search].present?%>

                    <%if @results.present? %>
                     <%= render "doctors/shared/results" %>

                        <%else%>
                           <%= render 'doctors/shared/view_all' %>
                    
                    <%end%> <!-- ending inner elsif condition-->
                    
                  
                  <%else%> <!--ending first if to check if there is nothing at all-->

   					    <%= render "doctors/shared/welcome" %>

   					<%end%>

   				</table>
              
   			
   		</div>
   		</div>
   </div>
  
</div>


