<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table>
		<td><h4>Dr. <%= current_doctor.surname.capitalize %></h4></td>
		<tr>

			<td>
				<%=image_tag(current_doctor.photo.url, style: 'width: 100%; height: 10rem') %>
			</td>
		</tr>
		<tr>
			<td><%= link_to 'Account Settings', doctor_dashboard_edit_path(current_doctor.name) %></td>
		</tr>
      <tr>
         <td><%= link_to 'Request Referral', doctor_dashboard_request_referral_hospitals_path %></td>
      </tr>
		<tr>
			<td><%= link_to 'Patient', doctors_dashboard_patients_all_path(current_doctor.name) %></td>
		</tr>
		<tr>
			<td><%= link_to 'Messages' %></td>
		</tr>
		<tr>
			<td><%= link_to 'Setup Notifications' %></td>
		</tr>
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
   						<h4 style="text-decoration: underline">Referrals Inbox</h4>
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <%= render "doctors/shared/search" %>
   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
   			   <% if @referrals.present? %>
   				<table class="large-12 columns">
   					<tr>
   						<th>Referral's Name / Contact</th>
                     <th>Patient Name</th>
   						<th>Patient ID</th>
   						<th>Referral Type</th>
   						<th>Referral Date</th>
   					</tr>
   					
                  <p style="font-family: courier; margin-bottom: 0">Results found</p>
   					<% @referrals.each do |referral| %>
   						<tr>
   							<td><%= referral.doctors_name %><br>email or contact</td>
   							<td>
   								<%= referral.patient_full_names%>
   							</td>
                        <td>
                           <%= referral.patientID%>
                        </td>
   							<td><%=referral.referral_type %><br>
                           status-urgent</td>
   							<td><%= referral.created_at.strftime("%B %d, %Y") %></td>
   						</tr>
   						
   					<% end %>
   					
   					<%elsif params[:search].nil?%>
                     <h1>hello doctor! i am chrmss</h1>
                  <%else%>
   					<p style="font-family: courier; color: red">No records found for patient ID :<%=params[:search]   %></p>
                     <%= link_to 'View All', doctor_dashboard_path, class: "button chrms radius large-2"%>
   					<%end%>
   				</table>
   			
   		</div>
   		</div>
   </div>
  
</div>


