<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table>
		<td><h4>Dr. <%= current_doctor.name.capitalize %></h4></td>
		<tr>

			<td>
				<%=image_tag('doctor.jpg', style: 'width: 100%; height: 10rem') %>
			</td>
		</tr>
		<tr>
			<td>View my account</td>
		</tr>
      <tr>
         <td><%= link_to 'Request Referral', chrms_doctors_dashboard_request_referral_path %></td>
      </tr>
		<tr>
			<td>Patient</td>
		</tr>
		<tr>
			<td><%= link_to 'Messages' %></td>
		</tr>
		<tr>
			<td>Setup Notifications</td>
		</tr>
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
   						<h4>Referrals Box</h4>
   					</div>

   					<div class="large-3 columns">
   						


						<%= form_tag chrms_doctors_dashboard_path, :method => 'get' do %>
						  <p style="margin-top: 5px">
						    <%= text_field_tag :search, params[:search],
						     placeholder: "search token here" %>
						    <!--<%= submit_tag "Search", :name => nil %>-->
						  </p>
						<% end %>

   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
   			<div class="large-12 columns">
   				<table>
   					<tr>
   						<th>Referral's Name/Contact</th>
   						<th>Patient Name</th>
   						<th>Referral Type</th>
   						<th>Referral Date</th>
   					</tr>
   					<% if @referrals.present? %>
   					<% @referrals.each do |referral| %>
   						<tr>
   							<td><%= referral.signature %><br>email or contact</td>
   							<td>
   								<%= referral.patient_full_names%>
   							</td>
   							<td><%=referral.referral_type %><br>
                           status-urgent</td>
   							<td><%= referral.created_at.strftime("%B %d, %Y") %></td>
   						</tr>
   						
   					<% end %>
   					
   					<%else%>
   					<p>No match found</p>
   					
   					<%end%>
   				</table>
   			</div>
   		</div>
   		</div>
   </div>
</div>

