<%provide(:title, "Doctor's Dashboard - CHRMS") %>
<div class="large-3 columns">
	<table class="large-12 medium-6 small-12 columns">
		<td><h5 class="doctors_name chrms-font">Dr. <%= current_doctor.surname.capitalize %></h5></td>
		<tr>

			<td>
            <div class="picture">
               <div class="image">
                  <% if current_doctor.photo_file_name.nil?%>
                       
                        <%=gravatar_for(current_doctor) %>
                     <%else%>
                      <%= image_tag(current_doctor.photo.url(:large), class: "gravatar")%>
                        
                  <%end%> 
                  <span class="title">
                     <%= link_to t('.account_settings'), doctor_dashboard_edit_path(current_doctor.name), class: 'account-settings' %><%= link_to "", doctor_dashboard_edit_path(current_doctor.name), class: "fi-widget spin" %>
                  </span>
                  
               </div>
            </div>
         
				
			</td>
		</tr>
      <tr>
         <td><%= link_to t('.dashboard_referrals'), doctor_dashboard_path %>
           <%if @sum == 0 %>

           <%else%>
            <i class="badge float-right alert2"><%=@sum%></i>
           <%end%>

         </td>
      </tr>
      <tr>
         <td><%= link_to t('.available_doctors') , doctor_dashboard_request_referral_hospitals_path %>
         </td>
      </tr>
      <tr>
         <td><%= link_to t('.referrals_made'), doctor_dashboard_total_referrals_made_path %>
           <% if @mades == 0 %>

            <%else%>
              <i class="badge float-right alert2"><%=@mades%></i>
           <%end%>
         </td>
      </tr>
   
	</table>


</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns" style="margin-top: 1rem">
                  <% if @sum != 0%>
                    <h4 class="chrms-font" style="text-decoration: underline"><%=t('.referral_inbox')%> </h4>
                     <%else%>
                        <h4 class="chrms-font" style="text-decoration: underline; color: #878787"><%=t('.empty_dashboard')%> </h4>

                     <%end%>
   						
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <%if @referrals.present? %>
                        <%= render "doctors/shared/search" %>
                     <%else%>
                      <%= render "doctors/shared/search" %>
                     <%end%>
   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
            
   			   <% if @referrals.present? %>
   				  <table class="large-12 columns">
   					<tr>
   						<th><%=t('.referral_request_form') %> </th>
                     <th><%=t('.patient_names')%> </th>
   						<th><%=t('.patient_id_number')%> </th>
                     <th><%= t('.patient_blood_group') %></th>
   						<th><%=t('.referral_status')%> </th>
                     <th><%=t('.date_received')%> </th>
   						
   					</tr>
   					
                    <p style="font-family: courier; margin-bottom: 0; color: #294f42"><%=t('.search_notification') %> </p>
                     
   					<% @referrals.each do |referral| %>

   						<tr>
   							<td>
                         Dr. <%= "#{referral.referring_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
   							<td>
                           
      								 <%= link_to "#{referral.patient_full_names}", doctor_dashboard_read_referrals_patient_referral_details_path(referral.id)%><br>
                               <span><%=t('.click_to_view')%> </span>
                         
   							</td>
                        <td>
                           <%= referral.patient_identity_number%>
                        </td>
   							<td>
                           <%=referral.blood_group %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><%= link_to t('.pending') , doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "pending" %></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><%= link_to t('.checked') , doctor_dashboard_read_referrals_patient_referral_details_path(referral.id), class: "received" %> </label>
                            <%else%>
                              <%if referral.patient_identity_number.present? %>
                                 <label><%= link_to t('.replied') , doctor_dashboard_submitted_back_slips_patient_path(referral.patient_identity_number), class: "completed " %><i class="fi-check"></i></label>
                              <%else %>
                                  <label><%= link_to t('.completed') , doctor_dashboard_submitted_back_slips_patient_path(referral.patient_full_names), class: "completed " %><i class="fi-check"></i></label>
                              <%end%>
                            <%end%>
                           
                        </td>
   							<td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
   						</tr>
   						
   					<% end %>
            </table>

            <%= will_paginate @referrals, renderer: BootstrapPagination::Rails %>

   					
   					<%elsif params[:search].present?%>

                    <%if @result.present? %>
                     <%= render "doctors/shared/results" %>
                     <%= link_to t('.view_all') , doctor_dashboard_path, class: "button chrms radius large-2"%>

                        <%else%>
                           <%= render 'doctors/shared/view_all' %>
                    
                    <%end%> <!-- ending inner elsif condition-->
                    
                  
                  <%else%> <!--ending first if to check if there is nothing at all-->

   					    <%= render "doctors/shared/welcome" %>

   					<%end%>

              
   			
   		</div>
   		</div>
   </div>
  
</div>


