<%provide(:title, "Doctor's Referrals Made - CHRMS") %>
<div class="large-3 columns">
	<table>

		<td><h5 class="doctors_name">Dr. <%= current_doctor.surname.capitalize %></h5></td>
		<tr>

			<td>
            <div class="picture">
               <div class="image">
                  <% if current_doctor.photo_file_name.nil?%>
                       
                        <%= gravatar_for(current_doctor) %>
                     <%else%>
                      <%= image_tag(current_doctor.photo.url(:large), class: "gravatar")%>
                        
                  <%end%> 
                  <span class="title">
                     <%= link_to t('.account_settings') , doctor_dashboard_edit_path(current_doctor.name), class: 'account-settings' %><%= link_to "", doctor_dashboard_edit_path(current_doctor.name), class: "fi-widget spin" %>
                  </span>
                  
               </div>
            </div>
         
            
         </td>
		</tr>
      <tr>
         <td><%= link_to t('.dashboard_referrals') , doctor_dashboard_path %>
           <%if @sum == 0 %>

            <%else%>
            <i class="badge float-right alert2"><%=@sum%></i>
            <%end%>
         </td>
      </tr>
      <tr>
         <td><%= link_to t('.available_doctors') , doctor_dashboard_request_referral_hospitals_path %>
         </td>
      </tr>
      <tr>
         <td>
          <%= link_to t('.referrals_made') , doctor_dashboard_total_referrals_made_path %>
         <% if @mades == 0 %>

          <%else%>
           <i class="badge float-right alert2"><%=@mades%></i>
         <%end%>
         </td>
      </tr>
      
      
		
		
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
   						<h4 style="text-decoration: underline; text-align: center" class="chrms-font"><%=t('.referrals_made')%> </h4>
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <% if @referrals.present? %>
                     <%= render "doctors/shared/search2" %>
                     <%elsif @result.present?%>
                      <%= render "doctors/shared/search2" %>
                     <%end%>

   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
   			   <% if @referrals.present? %>
   				<table class="large-12 columns">
   					<tr>
   						<th><%=t('.doctor_contact')%> </th>
                     <th style="text-align: center"><%=t('.patient_name')%> </th>
   						<th><%=t('.patient_id')%> </th>
                     <th><%=t('.blood_group')%> </th>
   						<th><%=t('.referral_status')%> </th>
                     <th style="text-align: center"><%=t('.date_sent')%> </th>
   						
   					</tr>
   					
                  <p style="font-family: courier; margin-bottom: 0; color: #294f42"><%=t('.search_results')%> </p>
   					<% @referrals.each do |referral| %>
   						<tr>
                <% @referred_doc = capitalize_name(referral.referred_facility_doctors_name) %>
   							<td><%=  @referred_doc %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
   							<td>
                           <% @patient_names = capitalize_name(referral.patient_full_names) %>
      								 <a data-open="patient_<%= referral.id %>"> <%= @patient_names %><br><span><%=t('.click')%> </span></a>
                               
                         
   							</td>
                        <td style="text-align: center">
                           <%= referral.patient_identity_number%>
                        </td>
   							<td style="text-align: center">
                           <%=t('.group') %> <%=referral.blood_group %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><a class="pending"><%=t('.pending')%> </a></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><a class="received"><%=t('.received')%> </a></label>
                            <%else%>
                              
                                  <label><%= link_to t('.completed') , doctor_dashboard_patient_special_investigations_path(referral.id), class: "completed " %><i class="fi-check"></i></label>
                              
                            <%end%>
                           
                        </td>
   							<td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
   						</tr>
   						<div class="reveal large" id="patient_<%=referral.id %>" data-reveal data-deep-link="true">
                                <h1 class="text-center"><%=t('.patient_id')%> : <%= referral.patient_identity_number %> <%=t('.Details')%> </h1>
                                 <hr class="horizontal-line">
                                 
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                  <span aria-hidden="true" class="float-right">&times;</span>
                                </button>
                                 <h5 style="text-decoration: underline"><%=t('.lab_findings')%> </h5>
                                 <% tag = referral.findings.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if referral.findings.downcase.include?("<ul>") || referral.findings.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.findings.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%elsif referral.findings.include?("<div>")%>
                              <% @array1 = Array.new %>
                                 <ul>
                                    <%divs = referral.findings.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                            <%divs.each do |div| %>
                                            <%divs = div.split("&nbsp;")%>
                                            <% if referral.findings.include?("<strong>")%>
                                             <% divs.each do |div| %>
                                              <% divs = div.split("<strong>")%>
                                              <%divs.each do |div| %>
                                                <% @array1 << div.split("</strong>") %>
                                              <%end%>
                                             <%end%>
                                             <p><%=@array1.join(" ")%> </p>
                                            <%else%>
                                             <% divs.each do |div| %>
                                                 <%if div == " " %>
                                                 <%else%>
                                                    <li><%= div %> </li>
                                                    <%end%>
                                                <%end%>
                                              <%end%>  
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.findings %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>

                           <h5 style="text-decoration: underline"><%=t('.doctor_diagnosis')%> </h5>
                                 <% tag = referral.diagnosis.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if referral.diagnosis.downcase.include?("<ul>") || referral.diagnosis.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.diagnosis.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%elsif referral.diagnosis.include?("<div>")%>
                               <% @array2 = Array.new %>
                                 <ul>
                                    <%divs = referral.diagnosis.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                        <%divs = div.split("&nbsp;") %>
                                         <%divs.each do |div| %>
                                          <%divs = div.split("<strong>")%>
                                            <%divs.each do |div| %>
                                            <%divs = div.split("</strong>")%>
                                              <%divs.each do |div| %>
                                              <% @array2 << div %>
                                              <%end%>
                                             <%end%>
                                             <p><%=@array2.join(" ") %></p>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.diagnosis %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>
                           
                        <h5 style="text-decoration: underline"><%=t('.treatment_given')%> </h5>
                                 <% tag = referral.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if referral.treatment_given.downcase.include?("<ul>") || referral.treatment_given.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.treatment_given.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                              <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif referral.treatment_given.include?("<div>")%>
                               <%@array3 = Array.new %>
                                 <ul>
                                    <%divs = referral.treatment_given.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                            <%divs = div.split("<strong>")%>
                                            <%divs.each do |div| %>
                                            <%divs = div.split("</strong>")%>
                                            <%divs.each do |div| %>
                                              <% @array3 << div %>
                                              <%end%>
                                             <%end%>
                                             <p><%=@array3.join(" ") %></p>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.treatment_given %> </li>

                           <<%=close_tag%>>

                        <%end%>
                        
                        <br/>
                        <h5 style="text-decoration: underline"><%=t('.referral_reason')%> </h5>
                                 <% tag = referral.reasons_for_referral.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if referral.reasons_for_referral.downcase.include?("<ul>") || referral.reasons_for_referral.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.reasons_for_referral.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif referral.reasons_for_referral.include?("<div>")%>
                               <%@array4 = Array.new %>
                                 <ul>
                                    <%divs = referral.reasons_for_referral.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                            <%divs = div.split("<strong>")%>
                                            <%divs.each do |div| %>
                                            <%divs = div.split("</strong>")%>
                                            <%divs.each do |div| %>
                                             <%@array4 << div %>
                                              <%= div %>
                                              <%end%>
                                             <%end%>
                                             <p><%=@array4.join(" ")%> </p>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.reasons_for_referral %> </li>

                           <<%=close_tag%>>

                        <%end%>
                           
                           <br/>
                           <h5 style="text-decoration: underline"><%=t('.message')%> </h5>
                        <p>
                           <%=referral.optional_message %>
                        </p>
                     </div>
   					<% end %>
            </table>
   					  <%= will_paginate @referrals, renderer: BootstrapPagination::Rails %>

   					<%elsif params[:search2].present?%>

                <%if @result.present? %>

                 <p style="font-family: courier; margin-bottom: 0; color: #294f42"><%=t('.search_results') %> <%=params[:search2]%></p>
                <table>
                  <tr>
                        <th><%=t('.doctor_contact')%> </th>
                               <th><%=t('.patient_name')%> </th>
                        <th><%=t('.patient_id')%> </th>
                               <th><%=t('.blood_group')%> </th>
                        <th><%=t('.referral_status')%> </th>
                       <th><%=t('.date_sent')%> </th>
              
                  </tr>
                  <%@result.each do |result| %>
                  <tr>
                <td><%= "#{result.referred_facility_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{result.referring_doctors_mobile_number}"%>
                        </td>
                <td>
                           
                       <a data-open="patient_<%= result.id %>"> <%="#{result.patient_full_names}"%><br><span>click to view</span></a>
                               
                         
                </td>
                        <td>
                           <%= result.patient_identity_number%>
                        </td>
                <td>
                           <%=result.blood_group %><br>
                </td>
                <td>
                    <% if result.referral_status == "pending" %>
                      <label><a class="pending"><%=t('.pending')%> </a></label>
                    <% elsif result.referral_status == "received" %>
                          <label><a class="received"><%=t('.received')%> </a></label>
                    <%else%>
                      <%if result.patient_identity_number.present? %>
                          <label><%= link_to t('.completed') , "", class: "completed " %><i class="fi-check"></i></label>
                      <%else %>
                          <label><%= link_to t('.completed') , "", class: "completed " %><i class="fi-check"></i></label>
                      <%end%>
                    <%end%>
                           
                </td>
                <td>
                    <%= result.created_at.strftime("%B %d, %Y") %>         
                </td>
              </tr>
              <div class="reveal large" id="patient_<%=result.id %>" data-reveal data-deep-link="true">
                                <h1 class="text-center"><%=t('.patient_id') %> <%= result.patient_identity_number %> <%=t('.details') %></h1>
                                 <hr class="horizontal-line">
                                 
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                  <span aria-hidden="true" class="float-right">&times;</span>
                                </button>
                                 <h5 style="text-decoration: underline"><%=t('.lab_findings')%> </h5>
                                 <% tag = result.findings.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if result.findings.downcase.include?("<ul>") || result.findings.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.findings.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%elsif result.findings.include?("<div>")%>
                                 <ul>
                                    <%divs = result.findings.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.findings %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>

                           <h5 style="text-decoration: underline"><%=t('.doctor_diagnosis')%> </h5>
                                 <% tag = result.diagnosis.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if result.diagnosis.downcase.include?("<ul>") || result.diagnosis.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.diagnosis.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%elsif result.diagnosis.include?("<div>")%>
                                 <ul>
                                    <%divs = result.diagnosis.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.diagnosis %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>
                           
                        <h5 style="text-decoration: underline"><%=t('.treatment_given')%> </h5>
                                 <% tag = result.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if result.treatment_given.downcase.include?("<ul>") || result.treatment_given.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.treatment_given.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                              <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif result.treatment_given.include?("<div>")%>
                                 <ul>
                                    <%divs = result.treatment_given.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.treatment_given %> </li>

                           <<%=close_tag%>>

                        <%end%>
                        
                        <br/>
                        <h5 style="text-decoration: underline"><%=t('.referral_reason')%> </h5>
                                 <% tag = result.reasons_for_referral.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if result.reasons_for_referral.downcase.include?("<ul>") || result.reasons_for_referral.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.reasons_for_referral.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif result.reasons_for_referral.include?("<div>")%>
                                 <ul>
                                    <%divs = result.reasons_for_referral.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.reasons_for_referral %> </li>

                           <<%=close_tag%>>

                        <%end%>
                           
                           <br/>
                           <h5 style="text-decoration: underline"><%=t('.message')%> </h5>
                        <p>
                           <%=result.optional_message %>
                        </p>
                     </div>
                     <%end%>
                </table>
                  <%= will_paginate @result, renderer: BootstrapPagination::Rails %>

                <%= link_to t('.view_all') , doctor_dashboard_total_referrals_made_path, class: "button chrms radius large-2"%>
                  

                  <%else%>
                    <p style="font-family: courier; color: red"><%=t('.no_results') %> : <%=params[:search2]   %></p>
                     <%= link_to t('.view_all') , doctor_dashboard_total_referrals_made_path, class: "button chrms radius large-2"%>
                <%end%>
                     
            <%else%>
   					
                     <h1 class="chrms-font"><%=t('.no_referral_made') %></h1>
                     <div class="callout primary2" data-closable>
                              <h5 class="chrms-font"><%=t('.inside_account') %></h5>
                               <%if current_doctor.photo_file_name.nil?%>
                              <p><%=t('.change_1') %> <strong><%=t('.change_2')%> </strong> <%=t('.change_3') %> <%=link_to t('.link') , doctor_dashboard_edit_path(current_doctor.name)%></p>
                              <%end%>
                              <p><%=t('.total_account_info')%> </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                      </div>
                      <div class="callout primary2" data-closable>
                              <h5 class="chrms-font"><%=t('.connectivity') %></h5>
                              <p><%=t('.connectivity_info')%> </p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                      </div>
                               
   					<%end%>
   		</div>
   		</div>
   </div>
  
</div>


