<%provide(:title, "Doctor's Referrals Made - CHRMS") %>
<div class="large-3 columns">
	<table>
		<td><h5 class="doctors_name">Dr. <%= current_doctor.surname.capitalize %></h5></td>
		<tr>

			<td>
            <div class="picture">
               <div class="image">
                  <% if current_doctor.photo.url.nil?%>
                        <%= image_tag(current_doctor.photo.url, style: 'width: 100%; height: 16rem; padding: 0')%>

                     <%else%>
                     <%=image_tag('default.png', style: 'width: 100%; height: 16rem; padding: 0') %>
                        
                  <%end%> 
                  <span class="title">
                     <%= link_to 'Account Settings', doctor_dashboard_edit_path(current_doctor.name), class: 'account-settings' %><i class="fi-widget"></i></td>
                  </span>
                  
               </div>
            </div>
         
				
			</td>
		</tr>
      <tr>
         <td><%= link_to 'Dashboard', doctor_dashboard_path %></td>
      </tr>
      <tr>
         <td><%= link_to 'Referred Doctors', doctor_dashboard_request_referral_hospitals_path %>
         <!--<i class="badge float-right chrms"><%=@referrals.count%></i>-->
         </td>
      </tr>
      <tr>
         <td><%= link_to 'Referrals Made', doctor_dashboard_total_referrals_made_path %><i class="badge float-right alert">0</i></td>
      </tr>
      
      <tr>
         <td>
            <%= link_to 'Unapproved Referrals' %><i class="badge float-right ">0</i></td>
      </tr>
		
		
		
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
   						<h4 style="text-decoration: underline">Referrals Made</h4>
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <%= render "doctors/shared/search2" %>
   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
   			   <% if @referrals.present? %>
   				<table class="large-12 columns">
   					<tr>
   						<th>Doctor's Name / Contact</th>
                     <th>Patient Name</th>
   						<th>Patient ID</th>
                     <th>Referral Type</th>
   						<th>Referral Status</th>
                     <th>Date received</th>
   						
   					</tr>
   					
                  <p style="font-family: courier; margin-bottom: 0; color: #294f42">Results found</p>
   					<% @referrals.each do |referral| %>
   						<tr>
   							<td><%= "#{referral.referred_facility_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
   							<td>
                           
      								 <a data-open="patient_<%= referral.id %>"> <%="#{referral.patient_full_names}"%><br><span>click to view</span></a>
                               
                         
   							</td>
                        <td>
                           <%= referral.patient_identity_number%>
                        </td>
   							<td>
                           <%=referral.type_of_referral %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><%= link_to "Pending","", class: "pending" %></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><%= link_to "Received", "", class: "received" %> </label>
                            <%else%>
                              <%if referral.patient_identity_number.present? %>
                                 <label><%= link_to "Completed", "", class: "completed " %><i class="fi-check"></i></label>
                              <%else %>
                                  <label><%= link_to "Completed", "", class: "completed " %><i class="fi-check"></i></label>
                              <%end%>
                            <%end%>
                           
                        </td>
   							<td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
   						</tr>
   						<div class="reveal large" id="patient_<%=referral.id %>" data-reveal>
                                <h1>Patient ID: <%= referral.patient_identity_number %> Details</h1>
                                 <hr class="horizontal-line">
                                 
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                  <span aria-hidden="true" class="float-right">&times;</span>
                                </button>
                                 <h5 style="text-decoration: underline">Treatment Given</h5>
                                 <% tag = referral.findings.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if referral.findings.downcase.include?("<ul>") || referral.findings.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.findings.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%else%>
                              <li><%= referral.treatment_given %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>
                           
                        <h5 style="text-decoration: underline">Treatment Given</h5>
                                 <% tag = referral.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if referral.treatment_given.downcase.include?("<ul>") || referral.treatment_given.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.treatment_given.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%else%>
                              <li><%= referral.treatment_given %> </li>

                           <<%=close_tag%>>

                        <%end%>
                        
                        <br/>
                        <h5 style="text-decoration: underline">Referral Reasons</h5>
                                 <% tag = referral.reasons_for_referral.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if referral.reasons_for_referral.downcase.include?("<ul>") || referral.reasons_for_referral.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.reasons_for_referral.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%else%>
                              <li><%= referral.treatment_given %> </li>

                           <<%=close_tag%>>

                        <%end%>
                           
                           <br/>
                           <h5 style="text-decoration: underline">Message</h5>
                        <p>
                           <%=referral.optional_message %>
                        </p>
                     </div>
   					<% end %>
   					
   					<%elsif params[:search].nil?%>
                     <h1>No referrals made by you</h1>
                  <%else%>
   					<p style="font-family: courier; color: red">No records found for patient ID :<%=params[:search]   %></p>
                     <%= link_to 'View All', doctor_dashboard_path, class: "button chrms radius large-2"%>

                               
   					<%end%>
   				</table>
   			
   		</div>
   		</div>
   </div>
  
</div>


