<%provide(:title, "Doctor's Referrals Made - CHRMS") %>
<div class="large-3 columns">
	<table>
		<td><h5 class="doctors_name">Dr. <%= current_doctor.surname.capitalize %></h5></td>
		<tr>

			<td>
            <div class="picture">
               <div class="image">
                  <% if current_doctor.photo_file_name.nil?%>
                       
                        <%= gravatar_for(current_doctor) %>
                     <%else%>
                      <%= image_tag(current_doctor.photo.url(:large), class: "gravatar")%>
                        
                  <%end%> 
                  <span class="title">
                     <%= link_to 'Account Settings', doctor_dashboard_edit_path(current_doctor.name), class: 'account-settings' %><%= link_to "", doctor_dashboard_edit_path(current_doctor.name), class: "fi-widget spin" %>
                  </span>
                  
               </div>
            </div>
         
            
         </td>
		</tr>
      <tr>
         <td><%= link_to 'Dashboard Referrals', doctor_dashboard_path %>
           <%if @sum == 0 %>

            <%else%>
            <i class="badge float-right alert2"><%=@sum%></i>
            <%end%>
         </td>
      </tr>
      <tr>
         <td><%= link_to 'Available Doctors', doctor_dashboard_request_referral_hospitals_path %>
         </td>
      </tr>
      <tr>
         <td>
          <%= link_to 'Referrals Made', doctor_dashboard_total_referrals_made_path %>
         <% if @mades == 0 %>

          <%else%>
           <i class="badge float-right alert2"><%=@mades%></i>
         <%end%>
         </td>
      </tr>
      
      
		
		
	</table>

</div>
<div class="row">
   <div class="large-9 columns">
   		<div class="row">
   			<div class="large-12 columns">
   				<div class="row">
   					<div class="large-9 columns">
   						<h4 style="text-decoration: underline" class="chrms-font">Referrals Made</h4>
   					</div>

   					<div class="large-3 columns">
                     <!-- Search box rendering here-->
                     <% if @referrals.present? %>
                     <%= render "doctors/shared/search2" %>
                     <%elsif @result.present?%>
                      <%= render "doctors/shared/search2" %>
                     <%end%>

   					</div>
   					
   				</div>
   				
   			</div>
   			<div style="width: 100%">
   			   <% if @referrals.present? %>
   				<table class="large-12 columns">
   					<tr>
   						<th>Doctor's Name / Contact</th>
                     <th>Patient Name</th>
   						<th>Patient ID</th>
                     <th>Referral Type</th>
   						<th>Referral Status</th>
                     <th>Date Sent</th>
   						
   					</tr>
   					
                  <p style="font-family: courier; margin-bottom: 0; color: #294f42">Results found</p>
   					<% @referrals.each do |referral| %>
   						<tr>
   							<td><%= "#{referral.referred_facility_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{referral.referring_doctors_mobile_number}"%>
                        </td>
   							<td>
                           
      								 <a data-open="patient_<%= referral.id %>"> <%="#{referral.patient_full_names}"%><br><span>click to view</span></a>
                               
                         
   							</td>
                        <td>
                           <%= referral.patient_identity_number%>
                        </td>
   							<td>
                           <%=referral.type_of_referral %><br>
                        </td>
                        <td>
                            <% if referral.referral_status == "pending" %>
                              <label><a class="pending">Pending</a></label>
                            <% elsif referral.referral_status == "received" %>
                                 <label><a class="received">Received</a></label>
                            <%else%>
                              <%if referral.patient_identity_number.present? %>
                                 <label><%= link_to "Completed", "", class: "completed " %><i class="fi-check"></i></label>
                              <%else %>
                                  <label><%= link_to "Completed", "", class: "completed " %><i class="fi-check"></i></label>
                              <%end%>
                            <%end%>
                           
                        </td>
   							<td>
                           <%= referral.created_at.strftime("%B %d, %Y") %>
                              
                        </td>
   						</tr>
   						<div class="reveal large" id="patient_<%=referral.id %>" data-reveal data-deep-link="true">
                                <h1 class="text-center">Patient ID: <%= referral.patient_identity_number %> Details</h1>
                                 <hr class="horizontal-line">
                                 
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                  <span aria-hidden="true" class="float-right">&times;</span>
                                </button>
                                 <h5 style="text-decoration: underline">Finding(s)</h5>
                                 <% tag = referral.findings.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if referral.findings.downcase.include?("<ul>") || referral.findings.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.findings.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%elsif referral.treatment_given.include?("<div>")%>
                                 <ul>
                                    <%divs = referral.treatment_given.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.treatment_given %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>
                           
                        <h5 style="text-decoration: underline">Treatment(s) Given</h5>
                                 <% tag = referral.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if referral.treatment_given.downcase.include?("<ul>") || referral.treatment_given.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.treatment_given.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                              <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif referral.treatment_given.include?("<div>")%>
                                 <ul>
                                    <%divs = referral.treatment_given.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.treatment_given %> </li>

                           <<%=close_tag%>>

                        <%end%>
                        
                        <br/>
                        <h5 style="text-decoration: underline">Referral Reasons</h5>
                                 <% tag = referral.reasons_for_referral.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if referral.reasons_for_referral.downcase.include?("<ul>") || referral.reasons_for_referral.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = referral.reasons_for_referral.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif referral.reasons_for_referral.include?("<div>")%>
                                 <ul>
                                    <%divs = referral.reasons_for_referral.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= referral.reasons_for_referral %> </li>

                           <<%=close_tag%>>

                        <%end%>
                           
                           <br/>
                           <h5 style="text-decoration: underline">Message</h5>
                        <p>
                           <%=referral.optional_message %>
                        </p>
                     </div>
   					<% end %>
            </table>
   					  <%= will_paginate @referrals, renderer: BootstrapPagination::Rails %>

   					<%elsif params[:search2].present?%>

                <%if @result.present? %>

                 <p style="font-family: courier; margin-bottom: 0; color: #294f42">Result found for <%=params[:search2]%></p>
                <table>
                  <tr>
                        <th>Doctor's Name / Contact</th>
                               <th>Patient Name</th>
                        <th>Patient ID</th>
                               <th>Referral Type</th>
                        <th>Referral Status</th>
                       <th>Date Sent</th>
              
                  </tr>
                  <%@result.each do |result| %>
                  <tr>
                <td><%= "#{result.referred_facility_doctors_name}" %>
                        <br>Tel: (+237) <%= "#{result.referring_doctors_mobile_number}"%>
                        </td>
                <td>
                           
                       <a data-open="patient_<%= result.id %>"> <%="#{result.patient_full_names}"%><br><span>click to view</span></a>
                               
                         
                </td>
                        <td>
                           <%= result.patient_identity_number%>
                        </td>
                <td>
                           <%=result.type_of_referral %><br>
                </td>
                <td>
                    <% if result.referral_status == "pending" %>
                      <label><a class="pending">Pending</a></label>
                    <% elsif result.referral_status == "received" %>
                          <label><a class="received">Received</a></label>
                    <%else%>
                      <%if result.patient_identity_number.present? %>
                          <label><%= link_to "Completed", "", class: "completed " %><i class="fi-check"></i></label>
                      <%else %>
                          <label><%= link_to "Completed", "", class: "completed " %><i class="fi-check"></i></label>
                      <%end%>
                    <%end%>
                           
                </td>
                <td>
                    <%= result.created_at.strftime("%B %d, %Y") %>         
                </td>
              </tr>
              <div class="reveal large" id="patient_<%=result.id %>" data-reveal data-deep-link="true">
                                <h1 class="text-center">Patient ID: <%= result.patient_identity_number %> Details</h1>
                                 <hr class="horizontal-line">
                                 
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                  <span aria-hidden="true" class="float-right">&times;</span>
                                </button>
                                 <h5 style="text-decoration: underline">Finding(s)</h5>
                                 <% tag = result.findings.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %>
                        <%if result.findings.downcase.include?("<ul>") || result.findings.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.findings.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <li><%= tags%></li>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                              <%elsif result.treatment_given.include?("<div>")%>
                                 <ul>
                                    <%divs = result.treatment_given.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.treatment_given %> </li>

                           <<%= close_tag%>>

                        <%end%>
                           <br>
                           
                        <h5 style="text-decoration: underline">Treatment(s) Given</h5>
                                 <% tag = result.treatment_given.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if result.treatment_given.downcase.include?("<ul>") || result.treatment_given.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.treatment_given.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                              <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif result.treatment_given.include?("<div>")%>
                                 <ul>
                                    <%divs = result.treatment_given.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.treatment_given %> </li>

                           <<%=close_tag%>>

                        <%end%>
                        
                        <br/>
                        <h5 style="text-decoration: underline">Referral Reasons</h5>
                                 <% tag = result.reasons_for_referral.downcase.include?("<ul>") ? "ul" : "ol" %>
                                 <% close_tag = tag.include?("ul") ? "/ul" : "/ol" %> 
                        <%if result.reasons_for_referral.downcase.include?("<ul>") || result.reasons_for_referral.downcase.include?("<ol>")%>
                           
                           
                              <%tags1 = result.reasons_for_referral.split("<li>") %>

                           <<%="#{tag}"%>>
                              <% tags1.each do |tags| %>
                                 <% tags2 = tags.split("</li>") %>
                                  <% tags2.each do |tags| %>
                                    <%tags3 = tags.split("<ul>") %>
                                    <%tags3.each do |tags| %>
                                       <% tags4 = tags.split("</ul>") %>
                                       <% tags4.each do |tags| %>
                                          <% tags5 = tags.split("<strong>") %>
                                          <% tags5.each do |tags| %>
                                             <%tags6 = tags.split("</strong>") %>
                                             <%tags6.each do |tags| %>
                                                <% tags7 = tags.split("<div>")%>
                                                <% tags7.each do |tags|%>
                                                   <%tags8 = tags.split("</div>") %>
                                                   <%tags8.each do |tags| %>
                                                      <%tags9 = tags.split("<br>") %>
                                                      <%tags9.each do |tags| %>
                                                         <%tags10 = tags.split("&nbsp;") %>
                                                         <%tags10.each do |tags| %>
                                                          <%tags11 = tags.split("<ol>") %>
                                                            <%tags11.each do |tags| %>
                                                               <% tags12 = tags.split("</ol>")%>
                                                               <% tags12.each do |tags| %>
                                                                  <%tags13 = tags.split("<em>")%>
                                                                  <%tags13.each do |tags| %>
                                                                     <% tags14 = tags.split("</em>") %>
                                                                     <%tags14.each do |tags| %>
                                                                        <% tags15 = tags.split("<pre>") %>
                                                                        <%tags15.each do |tags| %>
                                                                           <% tags16 = tags.split("</pre>") %>
                                                                           <%tags16.each do |tags| %>
                                                                              <%tags17 = tags.split("<div>") %>
                                                                              <%tags17.each do |tags| %>
                                                                              <%tags18 = tags.split("</div>") %>
                                                                              <%tags18.each do |tags| %>
                                                                                 <%tags19 = tags.split("&nbsp;")%>
                                                                                 <%tags19.each do |tags| %>
                                                                                       <li><%= tags%></li>
                                                                                    <%end%>
                                                                                 <%end%>
                                                                              <%end%>
                                                                           <%end%>
                                                                        <%end%>
                                                                     <%end%>
                                                                  <%end%>
                                                               <%end%>
                                                            <%end%>
                                                         <%end%>
                                                      <%end%>
                                                   <%end%>
                                                <%end%>
                                             <%end%>
                                          <%end%>
                                       <%end%>
                                    <%end%>
                                  <%end%>
                              <%end%>
                               <%elsif result.reasons_for_referral.include?("<div>")%>
                                 <ul>
                                    <%divs = result.reasons_for_referral.split("<div>") %>
                                    <%divs.each do |div|%>
                                       <%divs = div.split("</div>") %>
                                        <%divs.each do |div| %>
                                          <%divs = div.split("&nbsp;")%>
                                            <%divs.each do |div| %>
                                             <li><%= div %> </li>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                 </ul>
                              <%else%>
                              <li><%= result.reasons_for_referral %> </li>

                           <<%=close_tag%>>

                        <%end%>
                           
                           <br/>
                           <h5 style="text-decoration: underline">Message</h5>
                        <p>
                           <%=result.optional_message %>
                        </p>
                     </div>
                     <%end%>
                </table>
                  <%= will_paginate @result, renderer: BootstrapPagination::Rails %>

                <%= link_to 'View All', doctor_dashboard_total_referrals_made_path, class: "button chrms radius large-2"%>
                  

                  <%else%>
                    <p style="font-family: courier; color: red">No records found for patient ID : <%=params[:search2]   %></p>
                     <%= link_to 'View All', doctor_dashboard_total_referrals_made_path, class: "button chrms radius large-2"%>
                <%end%>
                     
            <%else%>
   					
                     <h1 class="chrms-font">No referrals made by you</h1>
                     <div class="callout primary2" data-closable>
                              <h5 class="chrms-font">Title</h5>
                               <%if current_doctor.photo_file_name.nil?%>
                              <p>Please <strong>CHANGE</strong> the default profile picture on the left side using this link <%=link_to "upload profile picture", doctor_dashboard_edit_path(current_doctor.name)%></p>
                              <%end%>
                              <p>Account settings gives you the power to change what other hospitals and doctors sees. You can upload your profile picture inside account settings, edit you surname, given names if you made errors when completing your registration process. You can also see your account summary inside account settings</p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                      </div>
                      <div class="callout primary2" data-closable>
                              <h5 class="chrms-font">Title</h5>
                               <%if current_doctor.photo_file_name.nil?%>
                              <p>Please <strong>CHANGE</strong> the default profile picture on the left side using this link <%=link_to "upload profile picture", doctor_dashboard_edit_path(current_doctor.name)%></p>
                              <%end%>
                              <p>Account settings gives you the power to change what other hospitals and doctors sees. You can upload your profile picture inside account settings, edit you surname, given names if you made errors when completing your registration process. You can also see your account summary inside account settings</p>
                             <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                               <span aria-hidden="true">&times;</span>
                             </button>
                      </div>
                               
   					<%end%>
   		</div>
   		</div>
   </div>
  
</div>


