<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= render "layouts/shared/main_header" %>
  <%= render 'layouts/shared/alert' %>
    <%= yield %>

    <%= render "layouts/shared/footer" %>
    <%= render "layouts/shared/copyright" %>
    <script>
      $(document).foundation();
      var wrap = $("#wrap");
      var headHeight = $("body > header.sticky").outerHeight(true);
      var headPos = $("header").offset().top;

    $(window).scroll(function() {

      var scroll = $(window).scrollTop();
       if (scroll >= headPos + 1 && $("header.header").hasClass("fixed")) {
        $("header.fixed").addClass("sticky");
            $("body").css("padding-top", headHeight + "px");
            
       }else{
          $("header.fixed").removeClass("sticky");
          $("body").css("padding-top", "0");
          
       }

      /*if ($(this).scrollTop() < 815 ){  
        $('header').removeClass("sticky");
        $("body").css("padding-top", "0");
       
    }
    else{
    $('header').addClass("sticky").fadeIn();
    $("body").css("padding-top", headHeight + "px");
  }
  */
  });
    </script>
  </body>
</html>
